<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breeze.health.mapper.UserTCMYinxuMapper">
  <resultMap id="BaseResultMap" type="com.breeze.health.entity.UserTCMYinxu">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tcm_id" jdbcType="BIGINT" property="tcmId" />
    <result column="yinxu_q1" jdbcType="INTEGER" property="yinxuQ1" />
    <result column="yinxu_q2" jdbcType="INTEGER" property="yinxuQ2" />
    <result column="yinxu_q3" jdbcType="INTEGER" property="yinxuQ3" />
    <result column="yinxu_q4" jdbcType="INTEGER" property="yinxuQ4" />
    <result column="yinxu_q5" jdbcType="INTEGER" property="yinxuQ5" />
    <result column="yinxu_q6" jdbcType="INTEGER" property="yinxuQ6" />
    <result column="yinxu_q7" jdbcType="INTEGER" property="yinxuQ7" />
    <result column="yinxu_q8" jdbcType="INTEGER" property="yinxuQ8" />
    <result column="yinxu_score" jdbcType="INTEGER" property="yinxuScore" />
    <result column="yinxu_result" jdbcType="INTEGER" property="yinxuResult" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, tcm_id, yinxu_q1, yinxu_q2, yinxu_q3, yinxu_q4, yinxu_q5, yinxu_q6, yinxu_q7, 
    yinxu_q8, yinxu_score, yinxu_result, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.breeze.health.entity.UserTCMYinxuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user_tcm_constitution_yinxu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_tcm_constitution_yinxu
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user_tcm_constitution_yinxu
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.breeze.health.entity.UserTCMYinxu" useGeneratedKeys="true">
    insert into t_user_tcm_constitution_yinxu (tcm_id, yinxu_q1, yinxu_q2, 
      yinxu_q3, yinxu_q4, yinxu_q5, 
      yinxu_q6, yinxu_q7, yinxu_q8, 
      yinxu_score, yinxu_result, create_time, 
      update_time)
    values (#{tcmId,jdbcType=BIGINT}, #{yinxuQ1,jdbcType=INTEGER}, #{yinxuQ2,jdbcType=INTEGER}, 
      #{yinxuQ3,jdbcType=INTEGER}, #{yinxuQ4,jdbcType=INTEGER}, #{yinxuQ5,jdbcType=INTEGER}, 
      #{yinxuQ6,jdbcType=INTEGER}, #{yinxuQ7,jdbcType=INTEGER}, #{yinxuQ8,jdbcType=INTEGER}, 
      #{yinxuScore,jdbcType=INTEGER}, #{yinxuResult,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.breeze.health.entity.UserTCMYinxu" useGeneratedKeys="true">
    insert into t_user_tcm_constitution_yinxu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tcmId != null">
        tcm_id,
      </if>
      <if test="yinxuQ1 != null">
        yinxu_q1,
      </if>
      <if test="yinxuQ2 != null">
        yinxu_q2,
      </if>
      <if test="yinxuQ3 != null">
        yinxu_q3,
      </if>
      <if test="yinxuQ4 != null">
        yinxu_q4,
      </if>
      <if test="yinxuQ5 != null">
        yinxu_q5,
      </if>
      <if test="yinxuQ6 != null">
        yinxu_q6,
      </if>
      <if test="yinxuQ7 != null">
        yinxu_q7,
      </if>
      <if test="yinxuQ8 != null">
        yinxu_q8,
      </if>
      <if test="yinxuScore != null">
        yinxu_score,
      </if>
      <if test="yinxuResult != null">
        yinxu_result,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tcmId != null">
        #{tcmId,jdbcType=BIGINT},
      </if>
      <if test="yinxuQ1 != null">
        #{yinxuQ1,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ2 != null">
        #{yinxuQ2,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ3 != null">
        #{yinxuQ3,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ4 != null">
        #{yinxuQ4,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ5 != null">
        #{yinxuQ5,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ6 != null">
        #{yinxuQ6,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ7 != null">
        #{yinxuQ7,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ8 != null">
        #{yinxuQ8,jdbcType=INTEGER},
      </if>
      <if test="yinxuScore != null">
        #{yinxuScore,jdbcType=INTEGER},
      </if>
      <if test="yinxuResult != null">
        #{yinxuResult,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.breeze.health.entity.UserTCMYinxuExample" resultType="java.lang.Integer">
    select count(*) from t_user_tcm_constitution_yinxu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.breeze.health.entity.UserTCMYinxu">
    update t_user_tcm_constitution_yinxu
    <set>
      <if test="tcmId != null">
        tcm_id = #{tcmId,jdbcType=BIGINT},
      </if>
      <if test="yinxuQ1 != null">
        yinxu_q1 = #{yinxuQ1,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ2 != null">
        yinxu_q2 = #{yinxuQ2,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ3 != null">
        yinxu_q3 = #{yinxuQ3,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ4 != null">
        yinxu_q4 = #{yinxuQ4,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ5 != null">
        yinxu_q5 = #{yinxuQ5,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ6 != null">
        yinxu_q6 = #{yinxuQ6,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ7 != null">
        yinxu_q7 = #{yinxuQ7,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ8 != null">
        yinxu_q8 = #{yinxuQ8,jdbcType=INTEGER},
      </if>
      <if test="yinxuScore != null">
        yinxu_score = #{yinxuScore,jdbcType=INTEGER},
      </if>
      <if test="yinxuResult != null">
        yinxu_result = #{yinxuResult,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.breeze.health.entity.UserTCMYinxu">
    update t_user_tcm_constitution_yinxu
    set tcm_id = #{tcmId,jdbcType=BIGINT},
      yinxu_q1 = #{yinxuQ1,jdbcType=INTEGER},
      yinxu_q2 = #{yinxuQ2,jdbcType=INTEGER},
      yinxu_q3 = #{yinxuQ3,jdbcType=INTEGER},
      yinxu_q4 = #{yinxuQ4,jdbcType=INTEGER},
      yinxu_q5 = #{yinxuQ5,jdbcType=INTEGER},
      yinxu_q6 = #{yinxuQ6,jdbcType=INTEGER},
      yinxu_q7 = #{yinxuQ7,jdbcType=INTEGER},
      yinxu_q8 = #{yinxuQ8,jdbcType=INTEGER},
      yinxu_score = #{yinxuScore,jdbcType=INTEGER},
      yinxu_result = #{yinxuResult,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.breeze.health.entity.UserTCMYinxu">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tcm_id" jdbcType="BIGINT" property="tcmId" />
    <result column="yinxu_q1" jdbcType="INTEGER" property="yinxuQ1" />
    <result column="yinxu_q2" jdbcType="INTEGER" property="yinxuQ2" />
    <result column="yinxu_q3" jdbcType="INTEGER" property="yinxuQ3" />
    <result column="yinxu_q4" jdbcType="INTEGER" property="yinxuQ4" />
    <result column="yinxu_q5" jdbcType="INTEGER" property="yinxuQ5" />
    <result column="yinxu_q6" jdbcType="INTEGER" property="yinxuQ6" />
    <result column="yinxu_q7" jdbcType="INTEGER" property="yinxuQ7" />
    <result column="yinxu_q8" jdbcType="INTEGER" property="yinxuQ8" />
    <result column="yinxu_score" jdbcType="INTEGER" property="yinxuScore" />
    <result column="yinxu_result" jdbcType="INTEGER" property="yinxuResult" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, tcm_id, yinxu_q1, yinxu_q2, yinxu_q3, yinxu_q4, yinxu_q5, yinxu_q6, yinxu_q7, 
    yinxu_q8, yinxu_score, yinxu_result, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.breeze.health.entity.UserTCMYinxuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user_tcm_constitution_yinxu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_tcm_constitution_yinxu
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user_tcm_constitution_yinxu
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.breeze.health.entity.UserTCMYinxu" useGeneratedKeys="true">
    insert into t_user_tcm_constitution_yinxu (tcm_id, yinxu_q1, yinxu_q2, 
      yinxu_q3, yinxu_q4, yinxu_q5, 
      yinxu_q6, yinxu_q7, yinxu_q8, 
      yinxu_score, yinxu_result, create_time, 
      update_time)
    values (#{tcmId,jdbcType=BIGINT}, #{yinxuQ1,jdbcType=INTEGER}, #{yinxuQ2,jdbcType=INTEGER}, 
      #{yinxuQ3,jdbcType=INTEGER}, #{yinxuQ4,jdbcType=INTEGER}, #{yinxuQ5,jdbcType=INTEGER}, 
      #{yinxuQ6,jdbcType=INTEGER}, #{yinxuQ7,jdbcType=INTEGER}, #{yinxuQ8,jdbcType=INTEGER}, 
      #{yinxuScore,jdbcType=INTEGER}, #{yinxuResult,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.breeze.health.entity.UserTCMYinxu" useGeneratedKeys="true">
    insert into t_user_tcm_constitution_yinxu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tcmId != null">
        tcm_id,
      </if>
      <if test="yinxuQ1 != null">
        yinxu_q1,
      </if>
      <if test="yinxuQ2 != null">
        yinxu_q2,
      </if>
      <if test="yinxuQ3 != null">
        yinxu_q3,
      </if>
      <if test="yinxuQ4 != null">
        yinxu_q4,
      </if>
      <if test="yinxuQ5 != null">
        yinxu_q5,
      </if>
      <if test="yinxuQ6 != null">
        yinxu_q6,
      </if>
      <if test="yinxuQ7 != null">
        yinxu_q7,
      </if>
      <if test="yinxuQ8 != null">
        yinxu_q8,
      </if>
      <if test="yinxuScore != null">
        yinxu_score,
      </if>
      <if test="yinxuResult != null">
        yinxu_result,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tcmId != null">
        #{tcmId,jdbcType=BIGINT},
      </if>
      <if test="yinxuQ1 != null">
        #{yinxuQ1,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ2 != null">
        #{yinxuQ2,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ3 != null">
        #{yinxuQ3,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ4 != null">
        #{yinxuQ4,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ5 != null">
        #{yinxuQ5,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ6 != null">
        #{yinxuQ6,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ7 != null">
        #{yinxuQ7,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ8 != null">
        #{yinxuQ8,jdbcType=INTEGER},
      </if>
      <if test="yinxuScore != null">
        #{yinxuScore,jdbcType=INTEGER},
      </if>
      <if test="yinxuResult != null">
        #{yinxuResult,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.breeze.health.entity.UserTCMYinxuExample" resultType="java.lang.Integer">
    select count(*) from t_user_tcm_constitution_yinxu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.breeze.health.entity.UserTCMYinxu">
    update t_user_tcm_constitution_yinxu
    <set>
      <if test="tcmId != null">
        tcm_id = #{tcmId,jdbcType=BIGINT},
      </if>
      <if test="yinxuQ1 != null">
        yinxu_q1 = #{yinxuQ1,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ2 != null">
        yinxu_q2 = #{yinxuQ2,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ3 != null">
        yinxu_q3 = #{yinxuQ3,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ4 != null">
        yinxu_q4 = #{yinxuQ4,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ5 != null">
        yinxu_q5 = #{yinxuQ5,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ6 != null">
        yinxu_q6 = #{yinxuQ6,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ7 != null">
        yinxu_q7 = #{yinxuQ7,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ8 != null">
        yinxu_q8 = #{yinxuQ8,jdbcType=INTEGER},
      </if>
      <if test="yinxuScore != null">
        yinxu_score = #{yinxuScore,jdbcType=INTEGER},
      </if>
      <if test="yinxuResult != null">
        yinxu_result = #{yinxuResult,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.breeze.health.entity.UserTCMYinxu">
    update t_user_tcm_constitution_yinxu
    set tcm_id = #{tcmId,jdbcType=BIGINT},
      yinxu_q1 = #{yinxuQ1,jdbcType=INTEGER},
      yinxu_q2 = #{yinxuQ2,jdbcType=INTEGER},
      yinxu_q3 = #{yinxuQ3,jdbcType=INTEGER},
      yinxu_q4 = #{yinxuQ4,jdbcType=INTEGER},
      yinxu_q5 = #{yinxuQ5,jdbcType=INTEGER},
      yinxu_q6 = #{yinxuQ6,jdbcType=INTEGER},
      yinxu_q7 = #{yinxuQ7,jdbcType=INTEGER},
      yinxu_q8 = #{yinxuQ8,jdbcType=INTEGER},
      yinxu_score = #{yinxuScore,jdbcType=INTEGER},
      yinxu_result = #{yinxuResult,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.breeze.health.entity.UserTCMYinxu">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tcm_id" jdbcType="BIGINT" property="tcmId" />
    <result column="yinxu_q1" jdbcType="INTEGER" property="yinxuQ1" />
    <result column="yinxu_q2" jdbcType="INTEGER" property="yinxuQ2" />
    <result column="yinxu_q3" jdbcType="INTEGER" property="yinxuQ3" />
    <result column="yinxu_q4" jdbcType="INTEGER" property="yinxuQ4" />
    <result column="yinxu_q5" jdbcType="INTEGER" property="yinxuQ5" />
    <result column="yinxu_q6" jdbcType="INTEGER" property="yinxuQ6" />
    <result column="yinxu_q7" jdbcType="INTEGER" property="yinxuQ7" />
    <result column="yinxu_q8" jdbcType="INTEGER" property="yinxuQ8" />
    <result column="yinxu_score" jdbcType="INTEGER" property="yinxuScore" />
    <result column="yinxu_result" jdbcType="INTEGER" property="yinxuResult" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, tcm_id, yinxu_q1, yinxu_q2, yinxu_q3, yinxu_q4, yinxu_q5, yinxu_q6, yinxu_q7, 
    yinxu_q8, yinxu_score, yinxu_result, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.breeze.health.entity.UserTCMYinxuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user_tcm_constitution_yinxu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_tcm_constitution_yinxu
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user_tcm_constitution_yinxu
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.breeze.health.entity.UserTCMYinxu" useGeneratedKeys="true">
    insert into t_user_tcm_constitution_yinxu (tcm_id, yinxu_q1, yinxu_q2, 
      yinxu_q3, yinxu_q4, yinxu_q5, 
      yinxu_q6, yinxu_q7, yinxu_q8, 
      yinxu_score, yinxu_result, create_time, 
      update_time)
    values (#{tcmId,jdbcType=BIGINT}, #{yinxuQ1,jdbcType=INTEGER}, #{yinxuQ2,jdbcType=INTEGER}, 
      #{yinxuQ3,jdbcType=INTEGER}, #{yinxuQ4,jdbcType=INTEGER}, #{yinxuQ5,jdbcType=INTEGER}, 
      #{yinxuQ6,jdbcType=INTEGER}, #{yinxuQ7,jdbcType=INTEGER}, #{yinxuQ8,jdbcType=INTEGER}, 
      #{yinxuScore,jdbcType=INTEGER}, #{yinxuResult,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.breeze.health.entity.UserTCMYinxu" useGeneratedKeys="true">
    insert into t_user_tcm_constitution_yinxu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tcmId != null">
        tcm_id,
      </if>
      <if test="yinxuQ1 != null">
        yinxu_q1,
      </if>
      <if test="yinxuQ2 != null">
        yinxu_q2,
      </if>
      <if test="yinxuQ3 != null">
        yinxu_q3,
      </if>
      <if test="yinxuQ4 != null">
        yinxu_q4,
      </if>
      <if test="yinxuQ5 != null">
        yinxu_q5,
      </if>
      <if test="yinxuQ6 != null">
        yinxu_q6,
      </if>
      <if test="yinxuQ7 != null">
        yinxu_q7,
      </if>
      <if test="yinxuQ8 != null">
        yinxu_q8,
      </if>
      <if test="yinxuScore != null">
        yinxu_score,
      </if>
      <if test="yinxuResult != null">
        yinxu_result,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tcmId != null">
        #{tcmId,jdbcType=BIGINT},
      </if>
      <if test="yinxuQ1 != null">
        #{yinxuQ1,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ2 != null">
        #{yinxuQ2,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ3 != null">
        #{yinxuQ3,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ4 != null">
        #{yinxuQ4,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ5 != null">
        #{yinxuQ5,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ6 != null">
        #{yinxuQ6,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ7 != null">
        #{yinxuQ7,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ8 != null">
        #{yinxuQ8,jdbcType=INTEGER},
      </if>
      <if test="yinxuScore != null">
        #{yinxuScore,jdbcType=INTEGER},
      </if>
      <if test="yinxuResult != null">
        #{yinxuResult,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.breeze.health.entity.UserTCMYinxuExample" resultType="java.lang.Integer">
    select count(*) from t_user_tcm_constitution_yinxu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.breeze.health.entity.UserTCMYinxu">
    update t_user_tcm_constitution_yinxu
    <set>
      <if test="tcmId != null">
        tcm_id = #{tcmId,jdbcType=BIGINT},
      </if>
      <if test="yinxuQ1 != null">
        yinxu_q1 = #{yinxuQ1,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ2 != null">
        yinxu_q2 = #{yinxuQ2,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ3 != null">
        yinxu_q3 = #{yinxuQ3,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ4 != null">
        yinxu_q4 = #{yinxuQ4,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ5 != null">
        yinxu_q5 = #{yinxuQ5,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ6 != null">
        yinxu_q6 = #{yinxuQ6,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ7 != null">
        yinxu_q7 = #{yinxuQ7,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ8 != null">
        yinxu_q8 = #{yinxuQ8,jdbcType=INTEGER},
      </if>
      <if test="yinxuScore != null">
        yinxu_score = #{yinxuScore,jdbcType=INTEGER},
      </if>
      <if test="yinxuResult != null">
        yinxu_result = #{yinxuResult,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.breeze.health.entity.UserTCMYinxu">
    update t_user_tcm_constitution_yinxu
    set tcm_id = #{tcmId,jdbcType=BIGINT},
      yinxu_q1 = #{yinxuQ1,jdbcType=INTEGER},
      yinxu_q2 = #{yinxuQ2,jdbcType=INTEGER},
      yinxu_q3 = #{yinxuQ3,jdbcType=INTEGER},
      yinxu_q4 = #{yinxuQ4,jdbcType=INTEGER},
      yinxu_q5 = #{yinxuQ5,jdbcType=INTEGER},
      yinxu_q6 = #{yinxuQ6,jdbcType=INTEGER},
      yinxu_q7 = #{yinxuQ7,jdbcType=INTEGER},
      yinxu_q8 = #{yinxuQ8,jdbcType=INTEGER},
      yinxu_score = #{yinxuScore,jdbcType=INTEGER},
      yinxu_result = #{yinxuResult,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.breeze.health.entity.UserTCMYinxu">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tcm_id" jdbcType="BIGINT" property="tcmId" />
    <result column="yinxu_q1" jdbcType="INTEGER" property="yinxuQ1" />
    <result column="yinxu_q2" jdbcType="INTEGER" property="yinxuQ2" />
    <result column="yinxu_q3" jdbcType="INTEGER" property="yinxuQ3" />
    <result column="yinxu_q4" jdbcType="INTEGER" property="yinxuQ4" />
    <result column="yinxu_q5" jdbcType="INTEGER" property="yinxuQ5" />
    <result column="yinxu_q6" jdbcType="INTEGER" property="yinxuQ6" />
    <result column="yinxu_q7" jdbcType="INTEGER" property="yinxuQ7" />
    <result column="yinxu_q8" jdbcType="INTEGER" property="yinxuQ8" />
    <result column="yinxu_result" jdbcType="INTEGER" property="yinxuResult" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, tcm_id, yinxu_q1, yinxu_q2, yinxu_q3, yinxu_q4, yinxu_q5, yinxu_q6, yinxu_q7, 
    yinxu_q8, yinxu_result, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.breeze.health.entity.UserTCMYinxuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user_tcm_constitution_yinxu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_tcm_constitution_yinxu
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user_tcm_constitution_yinxu
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.breeze.health.entity.UserTCMYinxu" useGeneratedKeys="true">
    insert into t_user_tcm_constitution_yinxu (tcm_id, yinxu_q1, yinxu_q2, 
      yinxu_q3, yinxu_q4, yinxu_q5, 
      yinxu_q6, yinxu_q7, yinxu_q8, 
      yinxu_result, create_time, update_time
      )
    values (#{tcmId,jdbcType=BIGINT}, #{yinxuQ1,jdbcType=INTEGER}, #{yinxuQ2,jdbcType=INTEGER}, 
      #{yinxuQ3,jdbcType=INTEGER}, #{yinxuQ4,jdbcType=INTEGER}, #{yinxuQ5,jdbcType=INTEGER}, 
      #{yinxuQ6,jdbcType=INTEGER}, #{yinxuQ7,jdbcType=INTEGER}, #{yinxuQ8,jdbcType=INTEGER}, 
      #{yinxuResult,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.breeze.health.entity.UserTCMYinxu" useGeneratedKeys="true">
    insert into t_user_tcm_constitution_yinxu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tcmId != null">
        tcm_id,
      </if>
      <if test="yinxuQ1 != null">
        yinxu_q1,
      </if>
      <if test="yinxuQ2 != null">
        yinxu_q2,
      </if>
      <if test="yinxuQ3 != null">
        yinxu_q3,
      </if>
      <if test="yinxuQ4 != null">
        yinxu_q4,
      </if>
      <if test="yinxuQ5 != null">
        yinxu_q5,
      </if>
      <if test="yinxuQ6 != null">
        yinxu_q6,
      </if>
      <if test="yinxuQ7 != null">
        yinxu_q7,
      </if>
      <if test="yinxuQ8 != null">
        yinxu_q8,
      </if>
      <if test="yinxuResult != null">
        yinxu_result,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tcmId != null">
        #{tcmId,jdbcType=BIGINT},
      </if>
      <if test="yinxuQ1 != null">
        #{yinxuQ1,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ2 != null">
        #{yinxuQ2,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ3 != null">
        #{yinxuQ3,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ4 != null">
        #{yinxuQ4,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ5 != null">
        #{yinxuQ5,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ6 != null">
        #{yinxuQ6,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ7 != null">
        #{yinxuQ7,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ8 != null">
        #{yinxuQ8,jdbcType=INTEGER},
      </if>
      <if test="yinxuResult != null">
        #{yinxuResult,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.breeze.health.entity.UserTCMYinxuExample" resultType="java.lang.Integer">
    select count(*) from t_user_tcm_constitution_yinxu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.breeze.health.entity.UserTCMYinxu">
    update t_user_tcm_constitution_yinxu
    <set>
      <if test="tcmId != null">
        tcm_id = #{tcmId,jdbcType=BIGINT},
      </if>
      <if test="yinxuQ1 != null">
        yinxu_q1 = #{yinxuQ1,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ2 != null">
        yinxu_q2 = #{yinxuQ2,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ3 != null">
        yinxu_q3 = #{yinxuQ3,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ4 != null">
        yinxu_q4 = #{yinxuQ4,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ5 != null">
        yinxu_q5 = #{yinxuQ5,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ6 != null">
        yinxu_q6 = #{yinxuQ6,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ7 != null">
        yinxu_q7 = #{yinxuQ7,jdbcType=INTEGER},
      </if>
      <if test="yinxuQ8 != null">
        yinxu_q8 = #{yinxuQ8,jdbcType=INTEGER},
      </if>
      <if test="yinxuResult != null">
        yinxu_result = #{yinxuResult,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.breeze.health.entity.UserTCMYinxu">
    update t_user_tcm_constitution_yinxu
    set tcm_id = #{tcmId,jdbcType=BIGINT},
      yinxu_q1 = #{yinxuQ1,jdbcType=INTEGER},
      yinxu_q2 = #{yinxuQ2,jdbcType=INTEGER},
      yinxu_q3 = #{yinxuQ3,jdbcType=INTEGER},
      yinxu_q4 = #{yinxuQ4,jdbcType=INTEGER},
      yinxu_q5 = #{yinxuQ5,jdbcType=INTEGER},
      yinxu_q6 = #{yinxuQ6,jdbcType=INTEGER},
      yinxu_q7 = #{yinxuQ7,jdbcType=INTEGER},
      yinxu_q8 = #{yinxuQ8,jdbcType=INTEGER},
      yinxu_result = #{yinxuResult,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.breeze.health.entity.UserTCMYinxu">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tcm_id" jdbcType="BIGINT" property="tcmId" />
    <result column="q1" jdbcType="INTEGER" property="q1" />
    <result column="q2" jdbcType="INTEGER" property="q2" />
    <result column="q3" jdbcType="INTEGER" property="q3" />
    <result column="q4" jdbcType="INTEGER" property="q4" />
    <result column="q5" jdbcType="INTEGER" property="q5" />
    <result column="q6" jdbcType="INTEGER" property="q6" />
    <result column="q7" jdbcType="INTEGER" property="q7" />
    <result column="q8" jdbcType="INTEGER" property="q8" />
    <result column="result" jdbcType="INTEGER" property="result" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, tcm_id, q1, q2, q3, q4, q5, q6, q7, q8, result, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.breeze.health.entity.UserTCMYinxuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user_tcm_constitution_yinxu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_tcm_constitution_yinxu
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user_tcm_constitution_yinxu
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.breeze.health.entity.UserTCMYinxu" useGeneratedKeys="true">
    insert into t_user_tcm_constitution_yinxu (tcm_id, q1, q2, 
      q3, q4, q5, q6, 
      q7, q8, result, create_time, 
      update_time)
    values (#{tcmId,jdbcType=BIGINT}, #{q1,jdbcType=INTEGER}, #{q2,jdbcType=INTEGER}, 
      #{q3,jdbcType=INTEGER}, #{q4,jdbcType=INTEGER}, #{q5,jdbcType=INTEGER}, #{q6,jdbcType=INTEGER}, 
      #{q7,jdbcType=INTEGER}, #{q8,jdbcType=INTEGER}, #{result,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.breeze.health.entity.UserTCMYinxu" useGeneratedKeys="true">
    insert into t_user_tcm_constitution_yinxu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tcmId != null">
        tcm_id,
      </if>
      <if test="q1 != null">
        q1,
      </if>
      <if test="q2 != null">
        q2,
      </if>
      <if test="q3 != null">
        q3,
      </if>
      <if test="q4 != null">
        q4,
      </if>
      <if test="q5 != null">
        q5,
      </if>
      <if test="q6 != null">
        q6,
      </if>
      <if test="q7 != null">
        q7,
      </if>
      <if test="q8 != null">
        q8,
      </if>
      <if test="result != null">
        result,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tcmId != null">
        #{tcmId,jdbcType=BIGINT},
      </if>
      <if test="q1 != null">
        #{q1,jdbcType=INTEGER},
      </if>
      <if test="q2 != null">
        #{q2,jdbcType=INTEGER},
      </if>
      <if test="q3 != null">
        #{q3,jdbcType=INTEGER},
      </if>
      <if test="q4 != null">
        #{q4,jdbcType=INTEGER},
      </if>
      <if test="q5 != null">
        #{q5,jdbcType=INTEGER},
      </if>
      <if test="q6 != null">
        #{q6,jdbcType=INTEGER},
      </if>
      <if test="q7 != null">
        #{q7,jdbcType=INTEGER},
      </if>
      <if test="q8 != null">
        #{q8,jdbcType=INTEGER},
      </if>
      <if test="result != null">
        #{result,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.breeze.health.entity.UserTCMYinxuExample" resultType="java.lang.Integer">
    select count(*) from t_user_tcm_constitution_yinxu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.breeze.health.entity.UserTCMYinxu">
    update t_user_tcm_constitution_yinxu
    <set>
      <if test="tcmId != null">
        tcm_id = #{tcmId,jdbcType=BIGINT},
      </if>
      <if test="q1 != null">
        q1 = #{q1,jdbcType=INTEGER},
      </if>
      <if test="q2 != null">
        q2 = #{q2,jdbcType=INTEGER},
      </if>
      <if test="q3 != null">
        q3 = #{q3,jdbcType=INTEGER},
      </if>
      <if test="q4 != null">
        q4 = #{q4,jdbcType=INTEGER},
      </if>
      <if test="q5 != null">
        q5 = #{q5,jdbcType=INTEGER},
      </if>
      <if test="q6 != null">
        q6 = #{q6,jdbcType=INTEGER},
      </if>
      <if test="q7 != null">
        q7 = #{q7,jdbcType=INTEGER},
      </if>
      <if test="q8 != null">
        q8 = #{q8,jdbcType=INTEGER},
      </if>
      <if test="result != null">
        result = #{result,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.breeze.health.entity.UserTCMYinxu">
    update t_user_tcm_constitution_yinxu
    set tcm_id = #{tcmId,jdbcType=BIGINT},
      q1 = #{q1,jdbcType=INTEGER},
      q2 = #{q2,jdbcType=INTEGER},
      q3 = #{q3,jdbcType=INTEGER},
      q4 = #{q4,jdbcType=INTEGER},
      q5 = #{q5,jdbcType=INTEGER},
      q6 = #{q6,jdbcType=INTEGER},
      q7 = #{q7,jdbcType=INTEGER},
      q8 = #{q8,jdbcType=INTEGER},
      result = #{result,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>