<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.breeze.health.mapper.UserTCMYangxuMapper" >
  <resultMap id="BaseResultMap" type="com.breeze.health.entity.UserTCMYangxu" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="tcm_id" property="tcmId" jdbcType="BIGINT" />
    <result column="yangxu_q1" property="yangxuQ1" jdbcType="INTEGER" />
    <result column="yangxu_q2" property="yangxuQ2" jdbcType="INTEGER" />
    <result column="yangxu_q3" property="yangxuQ3" jdbcType="INTEGER" />
    <result column="yangxu_q4" property="yangxuQ4" jdbcType="INTEGER" />
    <result column="yangxu_q5" property="yangxuQ5" jdbcType="INTEGER" />
    <result column="yangxu_q6" property="yangxuQ6" jdbcType="INTEGER" />
    <result column="yangxu_q7" property="yangxuQ7" jdbcType="INTEGER" />
    <result column="yangxu_score" property="yangxuScore" jdbcType="INTEGER" />
    <result column="yangxu_result" property="yangxuResult" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, tcm_id, yangxu_q1, yangxu_q2, yangxu_q3, yangxu_q4, yangxu_q5, yangxu_q6, yangxu_q7, 
    yangxu_score, yangxu_result, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.breeze.health.entity.UserTCMYangxuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user_tcm_constitution_yangxu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_user_tcm_constitution_yangxu
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_user_tcm_constitution_yangxu
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.breeze.health.entity.UserTCMYangxu" useGeneratedKeys="true" keyProperty="id" >
    insert into t_user_tcm_constitution_yangxu (tcm_id, yangxu_q1, yangxu_q2, 
      yangxu_q3, yangxu_q4, yangxu_q5, 
      yangxu_q6, yangxu_q7, yangxu_score, 
      yangxu_result, create_time, update_time
      )
    values (#{tcmId,jdbcType=BIGINT}, #{yangxuQ1,jdbcType=INTEGER}, #{yangxuQ2,jdbcType=INTEGER}, 
      #{yangxuQ3,jdbcType=INTEGER}, #{yangxuQ4,jdbcType=INTEGER}, #{yangxuQ5,jdbcType=INTEGER}, 
      #{yangxuQ6,jdbcType=INTEGER}, #{yangxuQ7,jdbcType=INTEGER}, #{yangxuScore,jdbcType=INTEGER}, 
      #{yangxuResult,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.breeze.health.entity.UserTCMYangxu" useGeneratedKeys="true" keyProperty="id" >
    insert into t_user_tcm_constitution_yangxu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tcmId != null" >
        tcm_id,
      </if>
      <if test="yangxuQ1 != null" >
        yangxu_q1,
      </if>
      <if test="yangxuQ2 != null" >
        yangxu_q2,
      </if>
      <if test="yangxuQ3 != null" >
        yangxu_q3,
      </if>
      <if test="yangxuQ4 != null" >
        yangxu_q4,
      </if>
      <if test="yangxuQ5 != null" >
        yangxu_q5,
      </if>
      <if test="yangxuQ6 != null" >
        yangxu_q6,
      </if>
      <if test="yangxuQ7 != null" >
        yangxu_q7,
      </if>
      <if test="yangxuScore != null" >
        yangxu_score,
      </if>
      <if test="yangxuResult != null" >
        yangxu_result,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tcmId != null" >
        #{tcmId,jdbcType=BIGINT},
      </if>
      <if test="yangxuQ1 != null" >
        #{yangxuQ1,jdbcType=INTEGER},
      </if>
      <if test="yangxuQ2 != null" >
        #{yangxuQ2,jdbcType=INTEGER},
      </if>
      <if test="yangxuQ3 != null" >
        #{yangxuQ3,jdbcType=INTEGER},
      </if>
      <if test="yangxuQ4 != null" >
        #{yangxuQ4,jdbcType=INTEGER},
      </if>
      <if test="yangxuQ5 != null" >
        #{yangxuQ5,jdbcType=INTEGER},
      </if>
      <if test="yangxuQ6 != null" >
        #{yangxuQ6,jdbcType=INTEGER},
      </if>
      <if test="yangxuQ7 != null" >
        #{yangxuQ7,jdbcType=INTEGER},
      </if>
      <if test="yangxuScore != null" >
        #{yangxuScore,jdbcType=INTEGER},
      </if>
      <if test="yangxuResult != null" >
        #{yangxuResult,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.breeze.health.entity.UserTCMYangxuExample" resultType="java.lang.Integer" >
    select count(*) from t_user_tcm_constitution_yangxu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.breeze.health.entity.UserTCMYangxu" >
    update t_user_tcm_constitution_yangxu
    <set >
      <if test="tcmId != null" >
        tcm_id = #{tcmId,jdbcType=BIGINT},
      </if>
      <if test="yangxuQ1 != null" >
        yangxu_q1 = #{yangxuQ1,jdbcType=INTEGER},
      </if>
      <if test="yangxuQ2 != null" >
        yangxu_q2 = #{yangxuQ2,jdbcType=INTEGER},
      </if>
      <if test="yangxuQ3 != null" >
        yangxu_q3 = #{yangxuQ3,jdbcType=INTEGER},
      </if>
      <if test="yangxuQ4 != null" >
        yangxu_q4 = #{yangxuQ4,jdbcType=INTEGER},
      </if>
      <if test="yangxuQ5 != null" >
        yangxu_q5 = #{yangxuQ5,jdbcType=INTEGER},
      </if>
      <if test="yangxuQ6 != null" >
        yangxu_q6 = #{yangxuQ6,jdbcType=INTEGER},
      </if>
      <if test="yangxuQ7 != null" >
        yangxu_q7 = #{yangxuQ7,jdbcType=INTEGER},
      </if>
      <if test="yangxuScore != null" >
        yangxu_score = #{yangxuScore,jdbcType=INTEGER},
      </if>
      <if test="yangxuResult != null" >
        yangxu_result = #{yangxuResult,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.breeze.health.entity.UserTCMYangxu" >
    update t_user_tcm_constitution_yangxu
    set tcm_id = #{tcmId,jdbcType=BIGINT},
      yangxu_q1 = #{yangxuQ1,jdbcType=INTEGER},
      yangxu_q2 = #{yangxuQ2,jdbcType=INTEGER},
      yangxu_q3 = #{yangxuQ3,jdbcType=INTEGER},
      yangxu_q4 = #{yangxuQ4,jdbcType=INTEGER},
      yangxu_q5 = #{yangxuQ5,jdbcType=INTEGER},
      yangxu_q6 = #{yangxuQ6,jdbcType=INTEGER},
      yangxu_q7 = #{yangxuQ7,jdbcType=INTEGER},
      yangxu_score = #{yangxuScore,jdbcType=INTEGER},
      yangxu_result = #{yangxuResult,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>