<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.breeze.health.mapper.UserTCMQixuMapper" >
  <resultMap id="BaseResultMap" type="com.breeze.health.entity.UserTCMQixu" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="tcm_id" property="tcmId" jdbcType="BIGINT" />
    <result column="qixu_q1" property="qixuQ1" jdbcType="INTEGER" />
    <result column="qixu_q2" property="qixuQ2" jdbcType="INTEGER" />
    <result column="qixu_q3" property="qixuQ3" jdbcType="INTEGER" />
    <result column="qixu_q4" property="qixuQ4" jdbcType="INTEGER" />
    <result column="qixu_q5" property="qixuQ5" jdbcType="INTEGER" />
    <result column="qixu_q6" property="qixuQ6" jdbcType="INTEGER" />
    <result column="qixu_q7" property="qixuQ7" jdbcType="INTEGER" />
    <result column="qixu_q8" property="qixuQ8" jdbcType="INTEGER" />
    <result column="qixu_score" property="qixuScore" jdbcType="INTEGER" />
    <result column="qixu_result" property="qixuResult" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, tcm_id, qixu_q1, qixu_q2, qixu_q3, qixu_q4, qixu_q5, qixu_q6, qixu_q7, qixu_q8, 
    qixu_score, qixu_result, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.breeze.health.entity.UserTCMQixuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user_tcm_constitution_qixu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_user_tcm_constitution_qixu
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_user_tcm_constitution_qixu
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.breeze.health.entity.UserTCMQixu" useGeneratedKeys="true" keyProperty="id" >
    insert into t_user_tcm_constitution_qixu (tcm_id, qixu_q1, qixu_q2, 
      qixu_q3, qixu_q4, qixu_q5, 
      qixu_q6, qixu_q7, qixu_q8, 
      qixu_score, qixu_result, create_time, 
      update_time)
    values (#{tcmId,jdbcType=BIGINT}, #{qixuQ1,jdbcType=INTEGER}, #{qixuQ2,jdbcType=INTEGER}, 
      #{qixuQ3,jdbcType=INTEGER}, #{qixuQ4,jdbcType=INTEGER}, #{qixuQ5,jdbcType=INTEGER}, 
      #{qixuQ6,jdbcType=INTEGER}, #{qixuQ7,jdbcType=INTEGER}, #{qixuQ8,jdbcType=INTEGER}, 
      #{qixuScore,jdbcType=INTEGER}, #{qixuResult,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.breeze.health.entity.UserTCMQixu" useGeneratedKeys="true" keyProperty="id" >
    insert into t_user_tcm_constitution_qixu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tcmId != null" >
        tcm_id,
      </if>
      <if test="qixuQ1 != null" >
        qixu_q1,
      </if>
      <if test="qixuQ2 != null" >
        qixu_q2,
      </if>
      <if test="qixuQ3 != null" >
        qixu_q3,
      </if>
      <if test="qixuQ4 != null" >
        qixu_q4,
      </if>
      <if test="qixuQ5 != null" >
        qixu_q5,
      </if>
      <if test="qixuQ6 != null" >
        qixu_q6,
      </if>
      <if test="qixuQ7 != null" >
        qixu_q7,
      </if>
      <if test="qixuQ8 != null" >
        qixu_q8,
      </if>
      <if test="qixuScore != null" >
        qixu_score,
      </if>
      <if test="qixuResult != null" >
        qixu_result,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tcmId != null" >
        #{tcmId,jdbcType=BIGINT},
      </if>
      <if test="qixuQ1 != null" >
        #{qixuQ1,jdbcType=INTEGER},
      </if>
      <if test="qixuQ2 != null" >
        #{qixuQ2,jdbcType=INTEGER},
      </if>
      <if test="qixuQ3 != null" >
        #{qixuQ3,jdbcType=INTEGER},
      </if>
      <if test="qixuQ4 != null" >
        #{qixuQ4,jdbcType=INTEGER},
      </if>
      <if test="qixuQ5 != null" >
        #{qixuQ5,jdbcType=INTEGER},
      </if>
      <if test="qixuQ6 != null" >
        #{qixuQ6,jdbcType=INTEGER},
      </if>
      <if test="qixuQ7 != null" >
        #{qixuQ7,jdbcType=INTEGER},
      </if>
      <if test="qixuQ8 != null" >
        #{qixuQ8,jdbcType=INTEGER},
      </if>
      <if test="qixuScore != null" >
        #{qixuScore,jdbcType=INTEGER},
      </if>
      <if test="qixuResult != null" >
        #{qixuResult,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.breeze.health.entity.UserTCMQixuExample" resultType="java.lang.Integer" >
    select count(*) from t_user_tcm_constitution_qixu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.breeze.health.entity.UserTCMQixu" >
    update t_user_tcm_constitution_qixu
    <set >
      <if test="tcmId != null" >
        tcm_id = #{tcmId,jdbcType=BIGINT},
      </if>
      <if test="qixuQ1 != null" >
        qixu_q1 = #{qixuQ1,jdbcType=INTEGER},
      </if>
      <if test="qixuQ2 != null" >
        qixu_q2 = #{qixuQ2,jdbcType=INTEGER},
      </if>
      <if test="qixuQ3 != null" >
        qixu_q3 = #{qixuQ3,jdbcType=INTEGER},
      </if>
      <if test="qixuQ4 != null" >
        qixu_q4 = #{qixuQ4,jdbcType=INTEGER},
      </if>
      <if test="qixuQ5 != null" >
        qixu_q5 = #{qixuQ5,jdbcType=INTEGER},
      </if>
      <if test="qixuQ6 != null" >
        qixu_q6 = #{qixuQ6,jdbcType=INTEGER},
      </if>
      <if test="qixuQ7 != null" >
        qixu_q7 = #{qixuQ7,jdbcType=INTEGER},
      </if>
      <if test="qixuQ8 != null" >
        qixu_q8 = #{qixuQ8,jdbcType=INTEGER},
      </if>
      <if test="qixuScore != null" >
        qixu_score = #{qixuScore,jdbcType=INTEGER},
      </if>
      <if test="qixuResult != null" >
        qixu_result = #{qixuResult,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.breeze.health.entity.UserTCMQixu" >
    update t_user_tcm_constitution_qixu
    set tcm_id = #{tcmId,jdbcType=BIGINT},
      qixu_q1 = #{qixuQ1,jdbcType=INTEGER},
      qixu_q2 = #{qixuQ2,jdbcType=INTEGER},
      qixu_q3 = #{qixuQ3,jdbcType=INTEGER},
      qixu_q4 = #{qixuQ4,jdbcType=INTEGER},
      qixu_q5 = #{qixuQ5,jdbcType=INTEGER},
      qixu_q6 = #{qixuQ6,jdbcType=INTEGER},
      qixu_q7 = #{qixuQ7,jdbcType=INTEGER},
      qixu_q8 = #{qixuQ8,jdbcType=INTEGER},
      qixu_score = #{qixuScore,jdbcType=INTEGER},
      qixu_result = #{qixuResult,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>