<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.breeze.health.mapper.UserTCMTebingMapper" >
  <resultMap id="BaseResultMap" type="com.breeze.health.entity.UserTCMTebing" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="tcm_id" property="tcmId" jdbcType="BIGINT" />
    <result column="tebing_q1" property="tebingQ1" jdbcType="INTEGER" />
    <result column="tebing_q2" property="tebingQ2" jdbcType="INTEGER" />
    <result column="tebing_q3" property="tebingQ3" jdbcType="INTEGER" />
    <result column="tebing_q4" property="tebingQ4" jdbcType="INTEGER" />
    <result column="tebing_q5" property="tebingQ5" jdbcType="INTEGER" />
    <result column="tebing_q6" property="tebingQ6" jdbcType="INTEGER" />
    <result column="tebing_q7" property="tebingQ7" jdbcType="INTEGER" />
    <result column="tebing_score" property="tebingScore" jdbcType="INTEGER" />
    <result column="tebing_result" property="tebingResult" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, tcm_id, tebing_q1, tebing_q2, tebing_q3, tebing_q4, tebing_q5, tebing_q6, tebing_q7, 
    tebing_score, tebing_result, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.breeze.health.entity.UserTCMTebingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user_tcm_constitution_tebing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_user_tcm_constitution_tebing
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_user_tcm_constitution_tebing
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.breeze.health.entity.UserTCMTebing" useGeneratedKeys="true" keyProperty="id" >
    insert into t_user_tcm_constitution_tebing (tcm_id, tebing_q1, tebing_q2, 
      tebing_q3, tebing_q4, tebing_q5, 
      tebing_q6, tebing_q7, tebing_score, 
      tebing_result, create_time, update_time
      )
    values (#{tcmId,jdbcType=BIGINT}, #{tebingQ1,jdbcType=INTEGER}, #{tebingQ2,jdbcType=INTEGER}, 
      #{tebingQ3,jdbcType=INTEGER}, #{tebingQ4,jdbcType=INTEGER}, #{tebingQ5,jdbcType=INTEGER}, 
      #{tebingQ6,jdbcType=INTEGER}, #{tebingQ7,jdbcType=INTEGER}, #{tebingScore,jdbcType=INTEGER}, 
      #{tebingResult,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.breeze.health.entity.UserTCMTebing" useGeneratedKeys="true" keyProperty="id" >
    insert into t_user_tcm_constitution_tebing
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tcmId != null" >
        tcm_id,
      </if>
      <if test="tebingQ1 != null" >
        tebing_q1,
      </if>
      <if test="tebingQ2 != null" >
        tebing_q2,
      </if>
      <if test="tebingQ3 != null" >
        tebing_q3,
      </if>
      <if test="tebingQ4 != null" >
        tebing_q4,
      </if>
      <if test="tebingQ5 != null" >
        tebing_q5,
      </if>
      <if test="tebingQ6 != null" >
        tebing_q6,
      </if>
      <if test="tebingQ7 != null" >
        tebing_q7,
      </if>
      <if test="tebingScore != null" >
        tebing_score,
      </if>
      <if test="tebingResult != null" >
        tebing_result,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tcmId != null" >
        #{tcmId,jdbcType=BIGINT},
      </if>
      <if test="tebingQ1 != null" >
        #{tebingQ1,jdbcType=INTEGER},
      </if>
      <if test="tebingQ2 != null" >
        #{tebingQ2,jdbcType=INTEGER},
      </if>
      <if test="tebingQ3 != null" >
        #{tebingQ3,jdbcType=INTEGER},
      </if>
      <if test="tebingQ4 != null" >
        #{tebingQ4,jdbcType=INTEGER},
      </if>
      <if test="tebingQ5 != null" >
        #{tebingQ5,jdbcType=INTEGER},
      </if>
      <if test="tebingQ6 != null" >
        #{tebingQ6,jdbcType=INTEGER},
      </if>
      <if test="tebingQ7 != null" >
        #{tebingQ7,jdbcType=INTEGER},
      </if>
      <if test="tebingScore != null" >
        #{tebingScore,jdbcType=INTEGER},
      </if>
      <if test="tebingResult != null" >
        #{tebingResult,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.breeze.health.entity.UserTCMTebingExample" resultType="java.lang.Integer" >
    select count(*) from t_user_tcm_constitution_tebing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.breeze.health.entity.UserTCMTebing" >
    update t_user_tcm_constitution_tebing
    <set >
      <if test="tcmId != null" >
        tcm_id = #{tcmId,jdbcType=BIGINT},
      </if>
      <if test="tebingQ1 != null" >
        tebing_q1 = #{tebingQ1,jdbcType=INTEGER},
      </if>
      <if test="tebingQ2 != null" >
        tebing_q2 = #{tebingQ2,jdbcType=INTEGER},
      </if>
      <if test="tebingQ3 != null" >
        tebing_q3 = #{tebingQ3,jdbcType=INTEGER},
      </if>
      <if test="tebingQ4 != null" >
        tebing_q4 = #{tebingQ4,jdbcType=INTEGER},
      </if>
      <if test="tebingQ5 != null" >
        tebing_q5 = #{tebingQ5,jdbcType=INTEGER},
      </if>
      <if test="tebingQ6 != null" >
        tebing_q6 = #{tebingQ6,jdbcType=INTEGER},
      </if>
      <if test="tebingQ7 != null" >
        tebing_q7 = #{tebingQ7,jdbcType=INTEGER},
      </if>
      <if test="tebingScore != null" >
        tebing_score = #{tebingScore,jdbcType=INTEGER},
      </if>
      <if test="tebingResult != null" >
        tebing_result = #{tebingResult,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.breeze.health.entity.UserTCMTebing" >
    update t_user_tcm_constitution_tebing
    set tcm_id = #{tcmId,jdbcType=BIGINT},
      tebing_q1 = #{tebingQ1,jdbcType=INTEGER},
      tebing_q2 = #{tebingQ2,jdbcType=INTEGER},
      tebing_q3 = #{tebingQ3,jdbcType=INTEGER},
      tebing_q4 = #{tebingQ4,jdbcType=INTEGER},
      tebing_q5 = #{tebingQ5,jdbcType=INTEGER},
      tebing_q6 = #{tebingQ6,jdbcType=INTEGER},
      tebing_q7 = #{tebingQ7,jdbcType=INTEGER},
      tebing_score = #{tebingScore,jdbcType=INTEGER},
      tebing_result = #{tebingResult,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>