<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.breeze.health.mapper.UserLivingMovementMapper" >
  <resultMap id="BaseResultMap" type="com.breeze.health.entity.UserLivingMovement" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="living_id" property="livingId" jdbcType="BIGINT" />
    <result column="violent_movement" property="violentMovement" jdbcType="INTEGER" />
    <result column="violent_days_per_week" property="violentDaysPerWeek" jdbcType="REAL" />
    <result column="violent_movement_per_day" property="violentMovementPerDay" jdbcType="INTEGER" />
    <result column="violent_minute_per_day" property="violentMinutePerDay" jdbcType="REAL" />
    <result column="moderate_movement" property="moderateMovement" jdbcType="INTEGER" />
    <result column="moderate_days_per_week" property="moderateDaysPerWeek" jdbcType="REAL" />
    <result column="moderate_minute" property="moderateMinute" jdbcType="INTEGER" />
    <result column="moderate_minute_per_day" property="moderateMinutePerDay" jdbcType="REAL" />
    <result column="walk_movement" property="walkMovement" jdbcType="INTEGER" />
    <result column="walk_days_per_week" property="walkDaysPerWeek" jdbcType="REAL" />
    <result column="walk_movement_per_day" property="walkMovementPerDay" jdbcType="INTEGER" />
    <result column="walk_minute_per_day" property="walkMinutePerDay" jdbcType="REAL" />
    <result column="sitting_recent7_days" property="sittingRecent7Days" jdbcType="INTEGER" />
    <result column="sitting_days_recent7_days" property="sittingDaysRecent7Days" jdbcType="REAL" />
    <result column="sitting_hours" property="sittingHours" jdbcType="INTEGER" />
    <result column="sitting_hours_per_day" property="sittingHoursPerDay" jdbcType="REAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, living_id, violent_movement, violent_days_per_week, violent_movement_per_day, 
    violent_minute_per_day, moderate_movement, moderate_days_per_week, moderate_minute, 
    moderate_minute_per_day, walk_movement, walk_days_per_week, walk_movement_per_day, 
    walk_minute_per_day, sitting_recent7_days, sitting_days_recent7_days, sitting_hours, 
    sitting_hours_per_day, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.breeze.health.entity.UserLivingMovementExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user_living_movement
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_user_living_movement
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_user_living_movement
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.breeze.health.entity.UserLivingMovement" useGeneratedKeys="true" keyProperty="id" >
    insert into t_user_living_movement (living_id, violent_movement, violent_days_per_week, 
      violent_movement_per_day, violent_minute_per_day, 
      moderate_movement, moderate_days_per_week, moderate_minute, 
      moderate_minute_per_day, walk_movement, walk_days_per_week, 
      walk_movement_per_day, walk_minute_per_day, sitting_recent7_days, 
      sitting_days_recent7_days, sitting_hours, sitting_hours_per_day, 
      create_time, update_time)
    values (#{livingId,jdbcType=BIGINT}, #{violentMovement,jdbcType=INTEGER}, #{violentDaysPerWeek,jdbcType=REAL}, 
      #{violentMovementPerDay,jdbcType=INTEGER}, #{violentMinutePerDay,jdbcType=REAL}, 
      #{moderateMovement,jdbcType=INTEGER}, #{moderateDaysPerWeek,jdbcType=REAL}, #{moderateMinute,jdbcType=INTEGER}, 
      #{moderateMinutePerDay,jdbcType=REAL}, #{walkMovement,jdbcType=INTEGER}, #{walkDaysPerWeek,jdbcType=REAL}, 
      #{walkMovementPerDay,jdbcType=INTEGER}, #{walkMinutePerDay,jdbcType=REAL}, #{sittingRecent7Days,jdbcType=INTEGER}, 
      #{sittingDaysRecent7Days,jdbcType=REAL}, #{sittingHours,jdbcType=INTEGER}, #{sittingHoursPerDay,jdbcType=REAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.breeze.health.entity.UserLivingMovement" useGeneratedKeys="true" keyProperty="id" >
    insert into t_user_living_movement
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="livingId != null" >
        living_id,
      </if>
      <if test="violentMovement != null" >
        violent_movement,
      </if>
      <if test="violentDaysPerWeek != null" >
        violent_days_per_week,
      </if>
      <if test="violentMovementPerDay != null" >
        violent_movement_per_day,
      </if>
      <if test="violentMinutePerDay != null" >
        violent_minute_per_day,
      </if>
      <if test="moderateMovement != null" >
        moderate_movement,
      </if>
      <if test="moderateDaysPerWeek != null" >
        moderate_days_per_week,
      </if>
      <if test="moderateMinute != null" >
        moderate_minute,
      </if>
      <if test="moderateMinutePerDay != null" >
        moderate_minute_per_day,
      </if>
      <if test="walkMovement != null" >
        walk_movement,
      </if>
      <if test="walkDaysPerWeek != null" >
        walk_days_per_week,
      </if>
      <if test="walkMovementPerDay != null" >
        walk_movement_per_day,
      </if>
      <if test="walkMinutePerDay != null" >
        walk_minute_per_day,
      </if>
      <if test="sittingRecent7Days != null" >
        sitting_recent7_days,
      </if>
      <if test="sittingDaysRecent7Days != null" >
        sitting_days_recent7_days,
      </if>
      <if test="sittingHours != null" >
        sitting_hours,
      </if>
      <if test="sittingHoursPerDay != null" >
        sitting_hours_per_day,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="livingId != null" >
        #{livingId,jdbcType=BIGINT},
      </if>
      <if test="violentMovement != null" >
        #{violentMovement,jdbcType=INTEGER},
      </if>
      <if test="violentDaysPerWeek != null" >
        #{violentDaysPerWeek,jdbcType=REAL},
      </if>
      <if test="violentMovementPerDay != null" >
        #{violentMovementPerDay,jdbcType=INTEGER},
      </if>
      <if test="violentMinutePerDay != null" >
        #{violentMinutePerDay,jdbcType=REAL},
      </if>
      <if test="moderateMovement != null" >
        #{moderateMovement,jdbcType=INTEGER},
      </if>
      <if test="moderateDaysPerWeek != null" >
        #{moderateDaysPerWeek,jdbcType=REAL},
      </if>
      <if test="moderateMinute != null" >
        #{moderateMinute,jdbcType=INTEGER},
      </if>
      <if test="moderateMinutePerDay != null" >
        #{moderateMinutePerDay,jdbcType=REAL},
      </if>
      <if test="walkMovement != null" >
        #{walkMovement,jdbcType=INTEGER},
      </if>
      <if test="walkDaysPerWeek != null" >
        #{walkDaysPerWeek,jdbcType=REAL},
      </if>
      <if test="walkMovementPerDay != null" >
        #{walkMovementPerDay,jdbcType=INTEGER},
      </if>
      <if test="walkMinutePerDay != null" >
        #{walkMinutePerDay,jdbcType=REAL},
      </if>
      <if test="sittingRecent7Days != null" >
        #{sittingRecent7Days,jdbcType=INTEGER},
      </if>
      <if test="sittingDaysRecent7Days != null" >
        #{sittingDaysRecent7Days,jdbcType=REAL},
      </if>
      <if test="sittingHours != null" >
        #{sittingHours,jdbcType=INTEGER},
      </if>
      <if test="sittingHoursPerDay != null" >
        #{sittingHoursPerDay,jdbcType=REAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.breeze.health.entity.UserLivingMovementExample" resultType="java.lang.Integer" >
    select count(*) from t_user_living_movement
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.breeze.health.entity.UserLivingMovement" >
    update t_user_living_movement
    <set >
      <if test="livingId != null" >
        living_id = #{livingId,jdbcType=BIGINT},
      </if>
      <if test="violentMovement != null" >
        violent_movement = #{violentMovement,jdbcType=INTEGER},
      </if>
      <if test="violentDaysPerWeek != null" >
        violent_days_per_week = #{violentDaysPerWeek,jdbcType=REAL},
      </if>
      <if test="violentMovementPerDay != null" >
        violent_movement_per_day = #{violentMovementPerDay,jdbcType=INTEGER},
      </if>
      <if test="violentMinutePerDay != null" >
        violent_minute_per_day = #{violentMinutePerDay,jdbcType=REAL},
      </if>
      <if test="moderateMovement != null" >
        moderate_movement = #{moderateMovement,jdbcType=INTEGER},
      </if>
      <if test="moderateDaysPerWeek != null" >
        moderate_days_per_week = #{moderateDaysPerWeek,jdbcType=REAL},
      </if>
      <if test="moderateMinute != null" >
        moderate_minute = #{moderateMinute,jdbcType=INTEGER},
      </if>
      <if test="moderateMinutePerDay != null" >
        moderate_minute_per_day = #{moderateMinutePerDay,jdbcType=REAL},
      </if>
      <if test="walkMovement != null" >
        walk_movement = #{walkMovement,jdbcType=INTEGER},
      </if>
      <if test="walkDaysPerWeek != null" >
        walk_days_per_week = #{walkDaysPerWeek,jdbcType=REAL},
      </if>
      <if test="walkMovementPerDay != null" >
        walk_movement_per_day = #{walkMovementPerDay,jdbcType=INTEGER},
      </if>
      <if test="walkMinutePerDay != null" >
        walk_minute_per_day = #{walkMinutePerDay,jdbcType=REAL},
      </if>
      <if test="sittingRecent7Days != null" >
        sitting_recent7_days = #{sittingRecent7Days,jdbcType=INTEGER},
      </if>
      <if test="sittingDaysRecent7Days != null" >
        sitting_days_recent7_days = #{sittingDaysRecent7Days,jdbcType=REAL},
      </if>
      <if test="sittingHours != null" >
        sitting_hours = #{sittingHours,jdbcType=INTEGER},
      </if>
      <if test="sittingHoursPerDay != null" >
        sitting_hours_per_day = #{sittingHoursPerDay,jdbcType=REAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.breeze.health.entity.UserLivingMovement" >
    update t_user_living_movement
    set living_id = #{livingId,jdbcType=BIGINT},
      violent_movement = #{violentMovement,jdbcType=INTEGER},
      violent_days_per_week = #{violentDaysPerWeek,jdbcType=REAL},
      violent_movement_per_day = #{violentMovementPerDay,jdbcType=INTEGER},
      violent_minute_per_day = #{violentMinutePerDay,jdbcType=REAL},
      moderate_movement = #{moderateMovement,jdbcType=INTEGER},
      moderate_days_per_week = #{moderateDaysPerWeek,jdbcType=REAL},
      moderate_minute = #{moderateMinute,jdbcType=INTEGER},
      moderate_minute_per_day = #{moderateMinutePerDay,jdbcType=REAL},
      walk_movement = #{walkMovement,jdbcType=INTEGER},
      walk_days_per_week = #{walkDaysPerWeek,jdbcType=REAL},
      walk_movement_per_day = #{walkMovementPerDay,jdbcType=INTEGER},
      walk_minute_per_day = #{walkMinutePerDay,jdbcType=REAL},
      sitting_recent7_days = #{sittingRecent7Days,jdbcType=INTEGER},
      sitting_days_recent7_days = #{sittingDaysRecent7Days,jdbcType=REAL},
      sitting_hours = #{sittingHours,jdbcType=INTEGER},
      sitting_hours_per_day = #{sittingHoursPerDay,jdbcType=REAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>