<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.breeze.health.mapper.UserTCMQiyuMapper" >
  <resultMap id="BaseResultMap" type="com.breeze.health.entity.UserTCMQiyu" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="tcm_id" property="tcmId" jdbcType="BIGINT" />
    <result column="qiyu_q1" property="qiyuQ1" jdbcType="INTEGER" />
    <result column="qiyu_q2" property="qiyuQ2" jdbcType="INTEGER" />
    <result column="qiyu_q3" property="qiyuQ3" jdbcType="INTEGER" />
    <result column="qiyu_q4" property="qiyuQ4" jdbcType="INTEGER" />
    <result column="qiyu_q5" property="qiyuQ5" jdbcType="INTEGER" />
    <result column="qiyu_q6" property="qiyuQ6" jdbcType="INTEGER" />
    <result column="qiyu_q7" property="qiyuQ7" jdbcType="INTEGER" />
    <result column="qiyu_score" property="qiyuScore" jdbcType="INTEGER" />
    <result column="qiyu_result" property="qiyuResult" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, tcm_id, qiyu_q1, qiyu_q2, qiyu_q3, qiyu_q4, qiyu_q5, qiyu_q6, qiyu_q7, qiyu_score, 
    qiyu_result, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.breeze.health.entity.UserTCMQiyuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user_tcm_constitution_qiyu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_user_tcm_constitution_qiyu
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_user_tcm_constitution_qiyu
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.breeze.health.entity.UserTCMQiyu" useGeneratedKeys="true" keyProperty="id" >
    insert into t_user_tcm_constitution_qiyu (tcm_id, qiyu_q1, qiyu_q2, 
      qiyu_q3, qiyu_q4, qiyu_q5, 
      qiyu_q6, qiyu_q7, qiyu_score, 
      qiyu_result, create_time, update_time
      )
    values (#{tcmId,jdbcType=BIGINT}, #{qiyuQ1,jdbcType=INTEGER}, #{qiyuQ2,jdbcType=INTEGER}, 
      #{qiyuQ3,jdbcType=INTEGER}, #{qiyuQ4,jdbcType=INTEGER}, #{qiyuQ5,jdbcType=INTEGER}, 
      #{qiyuQ6,jdbcType=INTEGER}, #{qiyuQ7,jdbcType=INTEGER}, #{qiyuScore,jdbcType=INTEGER}, 
      #{qiyuResult,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.breeze.health.entity.UserTCMQiyu" useGeneratedKeys="true" keyProperty="id" >
    insert into t_user_tcm_constitution_qiyu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tcmId != null" >
        tcm_id,
      </if>
      <if test="qiyuQ1 != null" >
        qiyu_q1,
      </if>
      <if test="qiyuQ2 != null" >
        qiyu_q2,
      </if>
      <if test="qiyuQ3 != null" >
        qiyu_q3,
      </if>
      <if test="qiyuQ4 != null" >
        qiyu_q4,
      </if>
      <if test="qiyuQ5 != null" >
        qiyu_q5,
      </if>
      <if test="qiyuQ6 != null" >
        qiyu_q6,
      </if>
      <if test="qiyuQ7 != null" >
        qiyu_q7,
      </if>
      <if test="qiyuScore != null" >
        qiyu_score,
      </if>
      <if test="qiyuResult != null" >
        qiyu_result,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tcmId != null" >
        #{tcmId,jdbcType=BIGINT},
      </if>
      <if test="qiyuQ1 != null" >
        #{qiyuQ1,jdbcType=INTEGER},
      </if>
      <if test="qiyuQ2 != null" >
        #{qiyuQ2,jdbcType=INTEGER},
      </if>
      <if test="qiyuQ3 != null" >
        #{qiyuQ3,jdbcType=INTEGER},
      </if>
      <if test="qiyuQ4 != null" >
        #{qiyuQ4,jdbcType=INTEGER},
      </if>
      <if test="qiyuQ5 != null" >
        #{qiyuQ5,jdbcType=INTEGER},
      </if>
      <if test="qiyuQ6 != null" >
        #{qiyuQ6,jdbcType=INTEGER},
      </if>
      <if test="qiyuQ7 != null" >
        #{qiyuQ7,jdbcType=INTEGER},
      </if>
      <if test="qiyuScore != null" >
        #{qiyuScore,jdbcType=INTEGER},
      </if>
      <if test="qiyuResult != null" >
        #{qiyuResult,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.breeze.health.entity.UserTCMQiyuExample" resultType="java.lang.Integer" >
    select count(*) from t_user_tcm_constitution_qiyu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.breeze.health.entity.UserTCMQiyu" >
    update t_user_tcm_constitution_qiyu
    <set >
      <if test="tcmId != null" >
        tcm_id = #{tcmId,jdbcType=BIGINT},
      </if>
      <if test="qiyuQ1 != null" >
        qiyu_q1 = #{qiyuQ1,jdbcType=INTEGER},
      </if>
      <if test="qiyuQ2 != null" >
        qiyu_q2 = #{qiyuQ2,jdbcType=INTEGER},
      </if>
      <if test="qiyuQ3 != null" >
        qiyu_q3 = #{qiyuQ3,jdbcType=INTEGER},
      </if>
      <if test="qiyuQ4 != null" >
        qiyu_q4 = #{qiyuQ4,jdbcType=INTEGER},
      </if>
      <if test="qiyuQ5 != null" >
        qiyu_q5 = #{qiyuQ5,jdbcType=INTEGER},
      </if>
      <if test="qiyuQ6 != null" >
        qiyu_q6 = #{qiyuQ6,jdbcType=INTEGER},
      </if>
      <if test="qiyuQ7 != null" >
        qiyu_q7 = #{qiyuQ7,jdbcType=INTEGER},
      </if>
      <if test="qiyuScore != null" >
        qiyu_score = #{qiyuScore,jdbcType=INTEGER},
      </if>
      <if test="qiyuResult != null" >
        qiyu_result = #{qiyuResult,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.breeze.health.entity.UserTCMQiyu" >
    update t_user_tcm_constitution_qiyu
    set tcm_id = #{tcmId,jdbcType=BIGINT},
      qiyu_q1 = #{qiyuQ1,jdbcType=INTEGER},
      qiyu_q2 = #{qiyuQ2,jdbcType=INTEGER},
      qiyu_q3 = #{qiyuQ3,jdbcType=INTEGER},
      qiyu_q4 = #{qiyuQ4,jdbcType=INTEGER},
      qiyu_q5 = #{qiyuQ5,jdbcType=INTEGER},
      qiyu_q6 = #{qiyuQ6,jdbcType=INTEGER},
      qiyu_q7 = #{qiyuQ7,jdbcType=INTEGER},
      qiyu_score = #{qiyuScore,jdbcType=INTEGER},
      qiyu_result = #{qiyuResult,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>