<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.breeze.health.mapper.UserSickMapper" >
  <resultMap id="BaseResultMap" type="com.breeze.health.entity.UserSick" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="sicks" property="sicks" jdbcType="VARCHAR" />
    <result column="high_blood_pressure_years" property="highBloodPressureYears" jdbcType="INTEGER" />
    <result column="coronary_heart_disease_years" property="coronaryHeartDiseaseYears" jdbcType="INTEGER" />
    <result column="hyperlipidemia_years" property="hyperlipidemiaYears" jdbcType="INTEGER" />
    <result column="diabetes_years" property="diabetesYears" jdbcType="INTEGER" />
    <result column="cerebrovascular_disease_years" property="cerebrovascularDiseaseYears" jdbcType="INTEGER" />
    <result column="chronic_gastritis_years" property="chronicGastritisYears" jdbcType="INTEGER" />
    <result column="stomach_ulcer_years" property="stomachUlcerYears" jdbcType="INTEGER" />
    <result column="bronchial_asthma_years" property="bronchialAsthmaYears" jdbcType="INTEGER" />
    <result column="copd_years" property="copdYears" jdbcType="INTEGER" />
    <result column="osteoporosis_years" property="osteoporosisYears" jdbcType="INTEGER" />
    <result column="glaucoma_years" property="glaucomaYears" jdbcType="INTEGER" />
    <result column="cataract_years" property="cataractYears" jdbcType="INTEGER" />
    <result column="others" property="others" jdbcType="VARCHAR" />
    <result column="drugs" property="drugs" jdbcType="VARCHAR" />
    <result column="antihypertensive_drug_name" property="antihypertensiveDrugName" jdbcType="VARCHAR" />
    <result column="lipid_lowering_drug_name" property="lipidLoweringDrugName" jdbcType="VARCHAR" />
    <result column="hypoglycemic_agents_name" property="hypoglycemicAgentsName" jdbcType="VARCHAR" />
    <result column="antiplatelet_drug_name" property="antiplateletDrugName" jdbcType="VARCHAR" />
    <result column="high_blood_pressure_history" property="highBloodPressureHistory" jdbcType="VARCHAR" />
    <result column="diabetes_history" property="diabetesHistory" jdbcType="VARCHAR" />
    <result column="coronary_heart_disease_history" property="coronaryHeartDiseaseHistory" jdbcType="VARCHAR" />
    <result column="cerebral_apoplexy_history" property="cerebralApoplexyHistory" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, sicks, high_blood_pressure_years, coronary_heart_disease_years, hyperlipidemia_years, 
    diabetes_years, cerebrovascular_disease_years, chronic_gastritis_years, stomach_ulcer_years, 
    bronchial_asthma_years, copd_years, osteoporosis_years, glaucoma_years, cataract_years, 
    others, drugs, antihypertensive_drug_name, lipid_lowering_drug_name, hypoglycemic_agents_name, 
    antiplatelet_drug_name, high_blood_pressure_history, diabetes_history, coronary_heart_disease_history, 
    cerebral_apoplexy_history, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.breeze.health.entity.UserSickExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user_sick
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_user_sick
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_user_sick
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.breeze.health.entity.UserSick" useGeneratedKeys="true" keyProperty="id" >
    insert into t_user_sick (user_id, sicks, high_blood_pressure_years, 
      coronary_heart_disease_years, hyperlipidemia_years, 
      diabetes_years, cerebrovascular_disease_years, 
      chronic_gastritis_years, stomach_ulcer_years, 
      bronchial_asthma_years, copd_years, osteoporosis_years, 
      glaucoma_years, cataract_years, others, 
      drugs, antihypertensive_drug_name, lipid_lowering_drug_name, 
      hypoglycemic_agents_name, antiplatelet_drug_name, 
      high_blood_pressure_history, diabetes_history, 
      coronary_heart_disease_history, cerebral_apoplexy_history, 
      create_time, update_time)
    values (#{userId,jdbcType=BIGINT}, #{sicks,jdbcType=VARCHAR}, #{highBloodPressureYears,jdbcType=INTEGER}, 
      #{coronaryHeartDiseaseYears,jdbcType=INTEGER}, #{hyperlipidemiaYears,jdbcType=INTEGER}, 
      #{diabetesYears,jdbcType=INTEGER}, #{cerebrovascularDiseaseYears,jdbcType=INTEGER}, 
      #{chronicGastritisYears,jdbcType=INTEGER}, #{stomachUlcerYears,jdbcType=INTEGER}, 
      #{bronchialAsthmaYears,jdbcType=INTEGER}, #{copdYears,jdbcType=INTEGER}, #{osteoporosisYears,jdbcType=INTEGER}, 
      #{glaucomaYears,jdbcType=INTEGER}, #{cataractYears,jdbcType=INTEGER}, #{others,jdbcType=VARCHAR}, 
      #{drugs,jdbcType=VARCHAR}, #{antihypertensiveDrugName,jdbcType=VARCHAR}, #{lipidLoweringDrugName,jdbcType=VARCHAR}, 
      #{hypoglycemicAgentsName,jdbcType=VARCHAR}, #{antiplateletDrugName,jdbcType=VARCHAR}, 
      #{highBloodPressureHistory,jdbcType=VARCHAR}, #{diabetesHistory,jdbcType=VARCHAR}, 
      #{coronaryHeartDiseaseHistory,jdbcType=VARCHAR}, #{cerebralApoplexyHistory,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.breeze.health.entity.UserSick" useGeneratedKeys="true" keyProperty="id" >
    insert into t_user_sick
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="sicks != null" >
        sicks,
      </if>
      <if test="highBloodPressureYears != null" >
        high_blood_pressure_years,
      </if>
      <if test="coronaryHeartDiseaseYears != null" >
        coronary_heart_disease_years,
      </if>
      <if test="hyperlipidemiaYears != null" >
        hyperlipidemia_years,
      </if>
      <if test="diabetesYears != null" >
        diabetes_years,
      </if>
      <if test="cerebrovascularDiseaseYears != null" >
        cerebrovascular_disease_years,
      </if>
      <if test="chronicGastritisYears != null" >
        chronic_gastritis_years,
      </if>
      <if test="stomachUlcerYears != null" >
        stomach_ulcer_years,
      </if>
      <if test="bronchialAsthmaYears != null" >
        bronchial_asthma_years,
      </if>
      <if test="copdYears != null" >
        copd_years,
      </if>
      <if test="osteoporosisYears != null" >
        osteoporosis_years,
      </if>
      <if test="glaucomaYears != null" >
        glaucoma_years,
      </if>
      <if test="cataractYears != null" >
        cataract_years,
      </if>
      <if test="others != null" >
        others,
      </if>
      <if test="drugs != null" >
        drugs,
      </if>
      <if test="antihypertensiveDrugName != null" >
        antihypertensive_drug_name,
      </if>
      <if test="lipidLoweringDrugName != null" >
        lipid_lowering_drug_name,
      </if>
      <if test="hypoglycemicAgentsName != null" >
        hypoglycemic_agents_name,
      </if>
      <if test="antiplateletDrugName != null" >
        antiplatelet_drug_name,
      </if>
      <if test="highBloodPressureHistory != null" >
        high_blood_pressure_history,
      </if>
      <if test="diabetesHistory != null" >
        diabetes_history,
      </if>
      <if test="coronaryHeartDiseaseHistory != null" >
        coronary_heart_disease_history,
      </if>
      <if test="cerebralApoplexyHistory != null" >
        cerebral_apoplexy_history,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="sicks != null" >
        #{sicks,jdbcType=VARCHAR},
      </if>
      <if test="highBloodPressureYears != null" >
        #{highBloodPressureYears,jdbcType=INTEGER},
      </if>
      <if test="coronaryHeartDiseaseYears != null" >
        #{coronaryHeartDiseaseYears,jdbcType=INTEGER},
      </if>
      <if test="hyperlipidemiaYears != null" >
        #{hyperlipidemiaYears,jdbcType=INTEGER},
      </if>
      <if test="diabetesYears != null" >
        #{diabetesYears,jdbcType=INTEGER},
      </if>
      <if test="cerebrovascularDiseaseYears != null" >
        #{cerebrovascularDiseaseYears,jdbcType=INTEGER},
      </if>
      <if test="chronicGastritisYears != null" >
        #{chronicGastritisYears,jdbcType=INTEGER},
      </if>
      <if test="stomachUlcerYears != null" >
        #{stomachUlcerYears,jdbcType=INTEGER},
      </if>
      <if test="bronchialAsthmaYears != null" >
        #{bronchialAsthmaYears,jdbcType=INTEGER},
      </if>
      <if test="copdYears != null" >
        #{copdYears,jdbcType=INTEGER},
      </if>
      <if test="osteoporosisYears != null" >
        #{osteoporosisYears,jdbcType=INTEGER},
      </if>
      <if test="glaucomaYears != null" >
        #{glaucomaYears,jdbcType=INTEGER},
      </if>
      <if test="cataractYears != null" >
        #{cataractYears,jdbcType=INTEGER},
      </if>
      <if test="others != null" >
        #{others,jdbcType=VARCHAR},
      </if>
      <if test="drugs != null" >
        #{drugs,jdbcType=VARCHAR},
      </if>
      <if test="antihypertensiveDrugName != null" >
        #{antihypertensiveDrugName,jdbcType=VARCHAR},
      </if>
      <if test="lipidLoweringDrugName != null" >
        #{lipidLoweringDrugName,jdbcType=VARCHAR},
      </if>
      <if test="hypoglycemicAgentsName != null" >
        #{hypoglycemicAgentsName,jdbcType=VARCHAR},
      </if>
      <if test="antiplateletDrugName != null" >
        #{antiplateletDrugName,jdbcType=VARCHAR},
      </if>
      <if test="highBloodPressureHistory != null" >
        #{highBloodPressureHistory,jdbcType=VARCHAR},
      </if>
      <if test="diabetesHistory != null" >
        #{diabetesHistory,jdbcType=VARCHAR},
      </if>
      <if test="coronaryHeartDiseaseHistory != null" >
        #{coronaryHeartDiseaseHistory,jdbcType=VARCHAR},
      </if>
      <if test="cerebralApoplexyHistory != null" >
        #{cerebralApoplexyHistory,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.breeze.health.entity.UserSickExample" resultType="java.lang.Integer" >
    select count(*) from t_user_sick
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.breeze.health.entity.UserSick" >
    update t_user_sick
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="sicks != null" >
        sicks = #{sicks,jdbcType=VARCHAR},
      </if>
      <if test="highBloodPressureYears != null" >
        high_blood_pressure_years = #{highBloodPressureYears,jdbcType=INTEGER},
      </if>
      <if test="coronaryHeartDiseaseYears != null" >
        coronary_heart_disease_years = #{coronaryHeartDiseaseYears,jdbcType=INTEGER},
      </if>
      <if test="hyperlipidemiaYears != null" >
        hyperlipidemia_years = #{hyperlipidemiaYears,jdbcType=INTEGER},
      </if>
      <if test="diabetesYears != null" >
        diabetes_years = #{diabetesYears,jdbcType=INTEGER},
      </if>
      <if test="cerebrovascularDiseaseYears != null" >
        cerebrovascular_disease_years = #{cerebrovascularDiseaseYears,jdbcType=INTEGER},
      </if>
      <if test="chronicGastritisYears != null" >
        chronic_gastritis_years = #{chronicGastritisYears,jdbcType=INTEGER},
      </if>
      <if test="stomachUlcerYears != null" >
        stomach_ulcer_years = #{stomachUlcerYears,jdbcType=INTEGER},
      </if>
      <if test="bronchialAsthmaYears != null" >
        bronchial_asthma_years = #{bronchialAsthmaYears,jdbcType=INTEGER},
      </if>
      <if test="copdYears != null" >
        copd_years = #{copdYears,jdbcType=INTEGER},
      </if>
      <if test="osteoporosisYears != null" >
        osteoporosis_years = #{osteoporosisYears,jdbcType=INTEGER},
      </if>
      <if test="glaucomaYears != null" >
        glaucoma_years = #{glaucomaYears,jdbcType=INTEGER},
      </if>
      <if test="cataractYears != null" >
        cataract_years = #{cataractYears,jdbcType=INTEGER},
      </if>
      <if test="others != null" >
        others = #{others,jdbcType=VARCHAR},
      </if>
      <if test="drugs != null" >
        drugs = #{drugs,jdbcType=VARCHAR},
      </if>
      <if test="antihypertensiveDrugName != null" >
        antihypertensive_drug_name = #{antihypertensiveDrugName,jdbcType=VARCHAR},
      </if>
      <if test="lipidLoweringDrugName != null" >
        lipid_lowering_drug_name = #{lipidLoweringDrugName,jdbcType=VARCHAR},
      </if>
      <if test="hypoglycemicAgentsName != null" >
        hypoglycemic_agents_name = #{hypoglycemicAgentsName,jdbcType=VARCHAR},
      </if>
      <if test="antiplateletDrugName != null" >
        antiplatelet_drug_name = #{antiplateletDrugName,jdbcType=VARCHAR},
      </if>
      <if test="highBloodPressureHistory != null" >
        high_blood_pressure_history = #{highBloodPressureHistory,jdbcType=VARCHAR},
      </if>
      <if test="diabetesHistory != null" >
        diabetes_history = #{diabetesHistory,jdbcType=VARCHAR},
      </if>
      <if test="coronaryHeartDiseaseHistory != null" >
        coronary_heart_disease_history = #{coronaryHeartDiseaseHistory,jdbcType=VARCHAR},
      </if>
      <if test="cerebralApoplexyHistory != null" >
        cerebral_apoplexy_history = #{cerebralApoplexyHistory,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.breeze.health.entity.UserSick" >
    update t_user_sick
    set user_id = #{userId,jdbcType=BIGINT},
      sicks = #{sicks,jdbcType=VARCHAR},
      high_blood_pressure_years = #{highBloodPressureYears,jdbcType=INTEGER},
      coronary_heart_disease_years = #{coronaryHeartDiseaseYears,jdbcType=INTEGER},
      hyperlipidemia_years = #{hyperlipidemiaYears,jdbcType=INTEGER},
      diabetes_years = #{diabetesYears,jdbcType=INTEGER},
      cerebrovascular_disease_years = #{cerebrovascularDiseaseYears,jdbcType=INTEGER},
      chronic_gastritis_years = #{chronicGastritisYears,jdbcType=INTEGER},
      stomach_ulcer_years = #{stomachUlcerYears,jdbcType=INTEGER},
      bronchial_asthma_years = #{bronchialAsthmaYears,jdbcType=INTEGER},
      copd_years = #{copdYears,jdbcType=INTEGER},
      osteoporosis_years = #{osteoporosisYears,jdbcType=INTEGER},
      glaucoma_years = #{glaucomaYears,jdbcType=INTEGER},
      cataract_years = #{cataractYears,jdbcType=INTEGER},
      others = #{others,jdbcType=VARCHAR},
      drugs = #{drugs,jdbcType=VARCHAR},
      antihypertensive_drug_name = #{antihypertensiveDrugName,jdbcType=VARCHAR},
      lipid_lowering_drug_name = #{lipidLoweringDrugName,jdbcType=VARCHAR},
      hypoglycemic_agents_name = #{hypoglycemicAgentsName,jdbcType=VARCHAR},
      antiplatelet_drug_name = #{antiplateletDrugName,jdbcType=VARCHAR},
      high_blood_pressure_history = #{highBloodPressureHistory,jdbcType=VARCHAR},
      diabetes_history = #{diabetesHistory,jdbcType=VARCHAR},
      coronary_heart_disease_history = #{coronaryHeartDiseaseHistory,jdbcType=VARCHAR},
      cerebral_apoplexy_history = #{cerebralApoplexyHistory,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>