<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.breeze.health.mapper.UserBaseInfoMapper" >
  <resultMap id="BaseResultMap" type="com.breeze.health.entity.UserBaseInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="id_card_no" property="idCardNo" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="INTEGER" />
    <result column="education" property="education" jdbcType="INTEGER" />
    <result column="marriage" property="marriage" jdbcType="INTEGER" />
    <result column="son_count" property="sonCount" jdbcType="INTEGER" />
    <result column="daughter_count" property="daughterCount" jdbcType="INTEGER" />
    <result column="family_type" property="familyType" jdbcType="INTEGER" />
    <result column="family_desc" property="familyDesc" jdbcType="VARCHAR" />
    <result column="family_other" property="familyOther" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="zone" property="zone" jdbcType="VARCHAR" />
    <result column="community" property="community" jdbcType="VARCHAR" />
    <result column="community_lon" property="communityLon" jdbcType="DOUBLE" />
    <result column="community_lat" property="communityLat" jdbcType="DOUBLE" />
    <result column="job" property="job" jdbcType="INTEGER" />
    <result column="religion" property="religion" jdbcType="VARCHAR" />
    <result column="religion_other" property="religionOther" jdbcType="VARCHAR" />
    <result column="person_count" property="personCount" jdbcType="INTEGER" />
    <result column="habitat_income" property="habitatIncome" jdbcType="INTEGER" />
    <result column="medical_pay_way" property="medicalPayWay" jdbcType="VARCHAR" />
    <result column="medical_pay_desc2" property="medicalPayDesc2" jdbcType="VARCHAR" />
    <result column="medical_pay_desc3" property="medicalPayDesc3" jdbcType="VARCHAR" />
    <result column="medical_pay_desc4" property="medicalPayDesc4" jdbcType="VARCHAR" />
    <result column="medical_pay_desc5" property="medicalPayDesc5" jdbcType="VARCHAR" />
    <result column="medical_pay_desc6" property="medicalPayDesc6" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, birthday, id_card_no, gender, education, marriage, son_count, daughter_count, 
    family_type, family_desc, family_other, city, zone, community, community_lon, community_lat, 
    job, religion, religion_other, person_count, habitat_income, medical_pay_way, medical_pay_desc2, 
    medical_pay_desc3, medical_pay_desc4, medical_pay_desc5, medical_pay_desc6, create_time, 
    update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.breeze.health.entity.UserBaseInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user_base_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_user_base_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_user_base_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.breeze.health.entity.UserBaseInfo" useGeneratedKeys="true" keyProperty="id" >
    insert into t_user_base_info (user_id, birthday, id_card_no, 
      gender, education, marriage, 
      son_count, daughter_count, family_type, 
      family_desc, family_other, city, 
      zone, community, community_lon, 
      community_lat, job, religion, 
      religion_other, person_count, habitat_income, 
      medical_pay_way, medical_pay_desc2, medical_pay_desc3, 
      medical_pay_desc4, medical_pay_desc5, medical_pay_desc6, 
      create_time, update_time)
    values (#{userId,jdbcType=BIGINT}, #{birthday,jdbcType=DATE}, #{idCardNo,jdbcType=VARCHAR}, 
      #{gender,jdbcType=INTEGER}, #{education,jdbcType=INTEGER}, #{marriage,jdbcType=INTEGER}, 
      #{sonCount,jdbcType=INTEGER}, #{daughterCount,jdbcType=INTEGER}, #{familyType,jdbcType=INTEGER}, 
      #{familyDesc,jdbcType=VARCHAR}, #{familyOther,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{zone,jdbcType=VARCHAR}, #{community,jdbcType=VARCHAR}, #{communityLon,jdbcType=DOUBLE}, 
      #{communityLat,jdbcType=DOUBLE}, #{job,jdbcType=INTEGER}, #{religion,jdbcType=VARCHAR}, 
      #{religionOther,jdbcType=VARCHAR}, #{personCount,jdbcType=INTEGER}, #{habitatIncome,jdbcType=INTEGER}, 
      #{medicalPayWay,jdbcType=VARCHAR}, #{medicalPayDesc2,jdbcType=VARCHAR}, #{medicalPayDesc3,jdbcType=VARCHAR}, 
      #{medicalPayDesc4,jdbcType=VARCHAR}, #{medicalPayDesc5,jdbcType=VARCHAR}, #{medicalPayDesc6,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.breeze.health.entity.UserBaseInfo" useGeneratedKeys="true" keyProperty="id" >
    insert into t_user_base_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="idCardNo != null" >
        id_card_no,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="marriage != null" >
        marriage,
      </if>
      <if test="sonCount != null" >
        son_count,
      </if>
      <if test="daughterCount != null" >
        daughter_count,
      </if>
      <if test="familyType != null" >
        family_type,
      </if>
      <if test="familyDesc != null" >
        family_desc,
      </if>
      <if test="familyOther != null" >
        family_other,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="zone != null" >
        zone,
      </if>
      <if test="community != null" >
        community,
      </if>
      <if test="communityLon != null" >
        community_lon,
      </if>
      <if test="communityLat != null" >
        community_lat,
      </if>
      <if test="job != null" >
        job,
      </if>
      <if test="religion != null" >
        religion,
      </if>
      <if test="religionOther != null" >
        religion_other,
      </if>
      <if test="personCount != null" >
        person_count,
      </if>
      <if test="habitatIncome != null" >
        habitat_income,
      </if>
      <if test="medicalPayWay != null" >
        medical_pay_way,
      </if>
      <if test="medicalPayDesc2 != null" >
        medical_pay_desc2,
      </if>
      <if test="medicalPayDesc3 != null" >
        medical_pay_desc3,
      </if>
      <if test="medicalPayDesc4 != null" >
        medical_pay_desc4,
      </if>
      <if test="medicalPayDesc5 != null" >
        medical_pay_desc5,
      </if>
      <if test="medicalPayDesc6 != null" >
        medical_pay_desc6,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="idCardNo != null" >
        #{idCardNo,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="education != null" >
        #{education,jdbcType=INTEGER},
      </if>
      <if test="marriage != null" >
        #{marriage,jdbcType=INTEGER},
      </if>
      <if test="sonCount != null" >
        #{sonCount,jdbcType=INTEGER},
      </if>
      <if test="daughterCount != null" >
        #{daughterCount,jdbcType=INTEGER},
      </if>
      <if test="familyType != null" >
        #{familyType,jdbcType=INTEGER},
      </if>
      <if test="familyDesc != null" >
        #{familyDesc,jdbcType=VARCHAR},
      </if>
      <if test="familyOther != null" >
        #{familyOther,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="zone != null" >
        #{zone,jdbcType=VARCHAR},
      </if>
      <if test="community != null" >
        #{community,jdbcType=VARCHAR},
      </if>
      <if test="communityLon != null" >
        #{communityLon,jdbcType=DOUBLE},
      </if>
      <if test="communityLat != null" >
        #{communityLat,jdbcType=DOUBLE},
      </if>
      <if test="job != null" >
        #{job,jdbcType=INTEGER},
      </if>
      <if test="religion != null" >
        #{religion,jdbcType=VARCHAR},
      </if>
      <if test="religionOther != null" >
        #{religionOther,jdbcType=VARCHAR},
      </if>
      <if test="personCount != null" >
        #{personCount,jdbcType=INTEGER},
      </if>
      <if test="habitatIncome != null" >
        #{habitatIncome,jdbcType=INTEGER},
      </if>
      <if test="medicalPayWay != null" >
        #{medicalPayWay,jdbcType=VARCHAR},
      </if>
      <if test="medicalPayDesc2 != null" >
        #{medicalPayDesc2,jdbcType=VARCHAR},
      </if>
      <if test="medicalPayDesc3 != null" >
        #{medicalPayDesc3,jdbcType=VARCHAR},
      </if>
      <if test="medicalPayDesc4 != null" >
        #{medicalPayDesc4,jdbcType=VARCHAR},
      </if>
      <if test="medicalPayDesc5 != null" >
        #{medicalPayDesc5,jdbcType=VARCHAR},
      </if>
      <if test="medicalPayDesc6 != null" >
        #{medicalPayDesc6,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.breeze.health.entity.UserBaseInfoExample" resultType="java.lang.Integer" >
    select count(*) from t_user_base_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.breeze.health.entity.UserBaseInfo" >
    update t_user_base_info
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="idCardNo != null" >
        id_card_no = #{idCardNo,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=INTEGER},
      </if>
      <if test="marriage != null" >
        marriage = #{marriage,jdbcType=INTEGER},
      </if>
      <if test="sonCount != null" >
        son_count = #{sonCount,jdbcType=INTEGER},
      </if>
      <if test="daughterCount != null" >
        daughter_count = #{daughterCount,jdbcType=INTEGER},
      </if>
      <if test="familyType != null" >
        family_type = #{familyType,jdbcType=INTEGER},
      </if>
      <if test="familyDesc != null" >
        family_desc = #{familyDesc,jdbcType=VARCHAR},
      </if>
      <if test="familyOther != null" >
        family_other = #{familyOther,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="zone != null" >
        zone = #{zone,jdbcType=VARCHAR},
      </if>
      <if test="community != null" >
        community = #{community,jdbcType=VARCHAR},
      </if>
      <if test="communityLon != null" >
        community_lon = #{communityLon,jdbcType=DOUBLE},
      </if>
      <if test="communityLat != null" >
        community_lat = #{communityLat,jdbcType=DOUBLE},
      </if>
      <if test="job != null" >
        job = #{job,jdbcType=INTEGER},
      </if>
      <if test="religion != null" >
        religion = #{religion,jdbcType=VARCHAR},
      </if>
      <if test="religionOther != null" >
        religion_other = #{religionOther,jdbcType=VARCHAR},
      </if>
      <if test="personCount != null" >
        person_count = #{personCount,jdbcType=INTEGER},
      </if>
      <if test="habitatIncome != null" >
        habitat_income = #{habitatIncome,jdbcType=INTEGER},
      </if>
      <if test="medicalPayWay != null" >
        medical_pay_way = #{medicalPayWay,jdbcType=VARCHAR},
      </if>
      <if test="medicalPayDesc2 != null" >
        medical_pay_desc2 = #{medicalPayDesc2,jdbcType=VARCHAR},
      </if>
      <if test="medicalPayDesc3 != null" >
        medical_pay_desc3 = #{medicalPayDesc3,jdbcType=VARCHAR},
      </if>
      <if test="medicalPayDesc4 != null" >
        medical_pay_desc4 = #{medicalPayDesc4,jdbcType=VARCHAR},
      </if>
      <if test="medicalPayDesc5 != null" >
        medical_pay_desc5 = #{medicalPayDesc5,jdbcType=VARCHAR},
      </if>
      <if test="medicalPayDesc6 != null" >
        medical_pay_desc6 = #{medicalPayDesc6,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.breeze.health.entity.UserBaseInfo" >
    update t_user_base_info
    set user_id = #{userId,jdbcType=BIGINT},
      birthday = #{birthday,jdbcType=DATE},
      id_card_no = #{idCardNo,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=INTEGER},
      education = #{education,jdbcType=INTEGER},
      marriage = #{marriage,jdbcType=INTEGER},
      son_count = #{sonCount,jdbcType=INTEGER},
      daughter_count = #{daughterCount,jdbcType=INTEGER},
      family_type = #{familyType,jdbcType=INTEGER},
      family_desc = #{familyDesc,jdbcType=VARCHAR},
      family_other = #{familyOther,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      zone = #{zone,jdbcType=VARCHAR},
      community = #{community,jdbcType=VARCHAR},
      community_lon = #{communityLon,jdbcType=DOUBLE},
      community_lat = #{communityLat,jdbcType=DOUBLE},
      job = #{job,jdbcType=INTEGER},
      religion = #{religion,jdbcType=VARCHAR},
      religion_other = #{religionOther,jdbcType=VARCHAR},
      person_count = #{personCount,jdbcType=INTEGER},
      habitat_income = #{habitatIncome,jdbcType=INTEGER},
      medical_pay_way = #{medicalPayWay,jdbcType=VARCHAR},
      medical_pay_desc2 = #{medicalPayDesc2,jdbcType=VARCHAR},
      medical_pay_desc3 = #{medicalPayDesc3,jdbcType=VARCHAR},
      medical_pay_desc4 = #{medicalPayDesc4,jdbcType=VARCHAR},
      medical_pay_desc5 = #{medicalPayDesc5,jdbcType=VARCHAR},
      medical_pay_desc6 = #{medicalPayDesc6,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>