<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.breeze.health.mapper.UserTCMPingheMapper" >
  <resultMap id="BaseResultMap" type="com.breeze.health.entity.UserTCMPinghe" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="tcm_id" property="tcmId" jdbcType="BIGINT" />
    <result column="pinghe_q1" property="pingheQ1" jdbcType="INTEGER" />
    <result column="pinghe_q2" property="pingheQ2" jdbcType="INTEGER" />
    <result column="pinghe_q3" property="pingheQ3" jdbcType="INTEGER" />
    <result column="pinghe_q4" property="pingheQ4" jdbcType="INTEGER" />
    <result column="pinghe_q5" property="pingheQ5" jdbcType="INTEGER" />
    <result column="pinghe_q6" property="pingheQ6" jdbcType="INTEGER" />
    <result column="pinghe_q7" property="pingheQ7" jdbcType="INTEGER" />
    <result column="pinghe_q8" property="pingheQ8" jdbcType="INTEGER" />
    <result column="pinghe_score" property="pingheScore" jdbcType="INTEGER" />
    <result column="pinghe_result" property="pingheResult" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, tcm_id, pinghe_q1, pinghe_q2, pinghe_q3, pinghe_q4, pinghe_q5, pinghe_q6, pinghe_q7, 
    pinghe_q8, pinghe_score, pinghe_result, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.breeze.health.entity.UserTCMPingheExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user_tcm_constitution_pinghe
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_user_tcm_constitution_pinghe
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_user_tcm_constitution_pinghe
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.breeze.health.entity.UserTCMPinghe" useGeneratedKeys="true" keyProperty="id" >
    insert into t_user_tcm_constitution_pinghe (tcm_id, pinghe_q1, pinghe_q2, 
      pinghe_q3, pinghe_q4, pinghe_q5, 
      pinghe_q6, pinghe_q7, pinghe_q8, 
      pinghe_score, pinghe_result, create_time, 
      update_time)
    values (#{tcmId,jdbcType=BIGINT}, #{pingheQ1,jdbcType=INTEGER}, #{pingheQ2,jdbcType=INTEGER}, 
      #{pingheQ3,jdbcType=INTEGER}, #{pingheQ4,jdbcType=INTEGER}, #{pingheQ5,jdbcType=INTEGER}, 
      #{pingheQ6,jdbcType=INTEGER}, #{pingheQ7,jdbcType=INTEGER}, #{pingheQ8,jdbcType=INTEGER}, 
      #{pingheScore,jdbcType=INTEGER}, #{pingheResult,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.breeze.health.entity.UserTCMPinghe" useGeneratedKeys="true" keyProperty="id" >
    insert into t_user_tcm_constitution_pinghe
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tcmId != null" >
        tcm_id,
      </if>
      <if test="pingheQ1 != null" >
        pinghe_q1,
      </if>
      <if test="pingheQ2 != null" >
        pinghe_q2,
      </if>
      <if test="pingheQ3 != null" >
        pinghe_q3,
      </if>
      <if test="pingheQ4 != null" >
        pinghe_q4,
      </if>
      <if test="pingheQ5 != null" >
        pinghe_q5,
      </if>
      <if test="pingheQ6 != null" >
        pinghe_q6,
      </if>
      <if test="pingheQ7 != null" >
        pinghe_q7,
      </if>
      <if test="pingheQ8 != null" >
        pinghe_q8,
      </if>
      <if test="pingheScore != null" >
        pinghe_score,
      </if>
      <if test="pingheResult != null" >
        pinghe_result,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tcmId != null" >
        #{tcmId,jdbcType=BIGINT},
      </if>
      <if test="pingheQ1 != null" >
        #{pingheQ1,jdbcType=INTEGER},
      </if>
      <if test="pingheQ2 != null" >
        #{pingheQ2,jdbcType=INTEGER},
      </if>
      <if test="pingheQ3 != null" >
        #{pingheQ3,jdbcType=INTEGER},
      </if>
      <if test="pingheQ4 != null" >
        #{pingheQ4,jdbcType=INTEGER},
      </if>
      <if test="pingheQ5 != null" >
        #{pingheQ5,jdbcType=INTEGER},
      </if>
      <if test="pingheQ6 != null" >
        #{pingheQ6,jdbcType=INTEGER},
      </if>
      <if test="pingheQ7 != null" >
        #{pingheQ7,jdbcType=INTEGER},
      </if>
      <if test="pingheQ8 != null" >
        #{pingheQ8,jdbcType=INTEGER},
      </if>
      <if test="pingheScore != null" >
        #{pingheScore,jdbcType=INTEGER},
      </if>
      <if test="pingheResult != null" >
        #{pingheResult,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.breeze.health.entity.UserTCMPingheExample" resultType="java.lang.Integer" >
    select count(*) from t_user_tcm_constitution_pinghe
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.breeze.health.entity.UserTCMPinghe" >
    update t_user_tcm_constitution_pinghe
    <set >
      <if test="tcmId != null" >
        tcm_id = #{tcmId,jdbcType=BIGINT},
      </if>
      <if test="pingheQ1 != null" >
        pinghe_q1 = #{pingheQ1,jdbcType=INTEGER},
      </if>
      <if test="pingheQ2 != null" >
        pinghe_q2 = #{pingheQ2,jdbcType=INTEGER},
      </if>
      <if test="pingheQ3 != null" >
        pinghe_q3 = #{pingheQ3,jdbcType=INTEGER},
      </if>
      <if test="pingheQ4 != null" >
        pinghe_q4 = #{pingheQ4,jdbcType=INTEGER},
      </if>
      <if test="pingheQ5 != null" >
        pinghe_q5 = #{pingheQ5,jdbcType=INTEGER},
      </if>
      <if test="pingheQ6 != null" >
        pinghe_q6 = #{pingheQ6,jdbcType=INTEGER},
      </if>
      <if test="pingheQ7 != null" >
        pinghe_q7 = #{pingheQ7,jdbcType=INTEGER},
      </if>
      <if test="pingheQ8 != null" >
        pinghe_q8 = #{pingheQ8,jdbcType=INTEGER},
      </if>
      <if test="pingheScore != null" >
        pinghe_score = #{pingheScore,jdbcType=INTEGER},
      </if>
      <if test="pingheResult != null" >
        pinghe_result = #{pingheResult,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.breeze.health.entity.UserTCMPinghe" >
    update t_user_tcm_constitution_pinghe
    set tcm_id = #{tcmId,jdbcType=BIGINT},
      pinghe_q1 = #{pingheQ1,jdbcType=INTEGER},
      pinghe_q2 = #{pingheQ2,jdbcType=INTEGER},
      pinghe_q3 = #{pingheQ3,jdbcType=INTEGER},
      pinghe_q4 = #{pingheQ4,jdbcType=INTEGER},
      pinghe_q5 = #{pingheQ5,jdbcType=INTEGER},
      pinghe_q6 = #{pingheQ6,jdbcType=INTEGER},
      pinghe_q7 = #{pingheQ7,jdbcType=INTEGER},
      pinghe_q8 = #{pingheQ8,jdbcType=INTEGER},
      pinghe_score = #{pingheScore,jdbcType=INTEGER},
      pinghe_result = #{pingheResult,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>