<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breeze.health.mapper.UserTCMTanshiMapper">
  <resultMap id="BaseResultMap" type="com.breeze.health.entity.UserTCMTanshi">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tcm_id" jdbcType="BIGINT" property="tcmId" />
    <result column="tanshi_q1" jdbcType="INTEGER" property="tanshiQ1" />
    <result column="tanshi_q2" jdbcType="INTEGER" property="tanshiQ2" />
    <result column="tanshi_q3" jdbcType="INTEGER" property="tanshiQ3" />
    <result column="tanshi_q4" jdbcType="INTEGER" property="tanshiQ4" />
    <result column="tanshi_q5" jdbcType="INTEGER" property="tanshiQ5" />
    <result column="tanshi_q6" jdbcType="INTEGER" property="tanshiQ6" />
    <result column="tanshi_q7" jdbcType="INTEGER" property="tanshiQ7" />
    <result column="tanshi_q8" jdbcType="INTEGER" property="tanshiQ8" />
    <result column="tanshi_score" jdbcType="INTEGER" property="tanshiScore" />
    <result column="tanshi_result" jdbcType="INTEGER" property="tanshiResult" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, tcm_id, tanshi_q1, tanshi_q2, tanshi_q3, tanshi_q4, tanshi_q5, tanshi_q6, tanshi_q7, 
    tanshi_q8, tanshi_score, tanshi_result, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.breeze.health.entity.UserTCMTanshiExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user_tcm_constitution_tanshi
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_tcm_constitution_tanshi
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user_tcm_constitution_tanshi
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.breeze.health.entity.UserTCMTanshi" useGeneratedKeys="true">
    insert into t_user_tcm_constitution_tanshi (tcm_id, tanshi_q1, tanshi_q2, 
      tanshi_q3, tanshi_q4, tanshi_q5, 
      tanshi_q6, tanshi_q7, tanshi_q8, 
      tanshi_score, tanshi_result, create_time, 
      update_time)
    values (#{tcmId,jdbcType=BIGINT}, #{tanshiQ1,jdbcType=INTEGER}, #{tanshiQ2,jdbcType=INTEGER}, 
      #{tanshiQ3,jdbcType=INTEGER}, #{tanshiQ4,jdbcType=INTEGER}, #{tanshiQ5,jdbcType=INTEGER}, 
      #{tanshiQ6,jdbcType=INTEGER}, #{tanshiQ7,jdbcType=INTEGER}, #{tanshiQ8,jdbcType=INTEGER}, 
      #{tanshiScore,jdbcType=INTEGER}, #{tanshiResult,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.breeze.health.entity.UserTCMTanshi" useGeneratedKeys="true">
    insert into t_user_tcm_constitution_tanshi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tcmId != null">
        tcm_id,
      </if>
      <if test="tanshiQ1 != null">
        tanshi_q1,
      </if>
      <if test="tanshiQ2 != null">
        tanshi_q2,
      </if>
      <if test="tanshiQ3 != null">
        tanshi_q3,
      </if>
      <if test="tanshiQ4 != null">
        tanshi_q4,
      </if>
      <if test="tanshiQ5 != null">
        tanshi_q5,
      </if>
      <if test="tanshiQ6 != null">
        tanshi_q6,
      </if>
      <if test="tanshiQ7 != null">
        tanshi_q7,
      </if>
      <if test="tanshiQ8 != null">
        tanshi_q8,
      </if>
      <if test="tanshiScore != null">
        tanshi_score,
      </if>
      <if test="tanshiResult != null">
        tanshi_result,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tcmId != null">
        #{tcmId,jdbcType=BIGINT},
      </if>
      <if test="tanshiQ1 != null">
        #{tanshiQ1,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ2 != null">
        #{tanshiQ2,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ3 != null">
        #{tanshiQ3,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ4 != null">
        #{tanshiQ4,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ5 != null">
        #{tanshiQ5,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ6 != null">
        #{tanshiQ6,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ7 != null">
        #{tanshiQ7,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ8 != null">
        #{tanshiQ8,jdbcType=INTEGER},
      </if>
      <if test="tanshiScore != null">
        #{tanshiScore,jdbcType=INTEGER},
      </if>
      <if test="tanshiResult != null">
        #{tanshiResult,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.breeze.health.entity.UserTCMTanshiExample" resultType="java.lang.Integer">
    select count(*) from t_user_tcm_constitution_tanshi
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.breeze.health.entity.UserTCMTanshi">
    update t_user_tcm_constitution_tanshi
    <set>
      <if test="tcmId != null">
        tcm_id = #{tcmId,jdbcType=BIGINT},
      </if>
      <if test="tanshiQ1 != null">
        tanshi_q1 = #{tanshiQ1,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ2 != null">
        tanshi_q2 = #{tanshiQ2,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ3 != null">
        tanshi_q3 = #{tanshiQ3,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ4 != null">
        tanshi_q4 = #{tanshiQ4,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ5 != null">
        tanshi_q5 = #{tanshiQ5,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ6 != null">
        tanshi_q6 = #{tanshiQ6,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ7 != null">
        tanshi_q7 = #{tanshiQ7,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ8 != null">
        tanshi_q8 = #{tanshiQ8,jdbcType=INTEGER},
      </if>
      <if test="tanshiScore != null">
        tanshi_score = #{tanshiScore,jdbcType=INTEGER},
      </if>
      <if test="tanshiResult != null">
        tanshi_result = #{tanshiResult,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.breeze.health.entity.UserTCMTanshi">
    update t_user_tcm_constitution_tanshi
    set tcm_id = #{tcmId,jdbcType=BIGINT},
      tanshi_q1 = #{tanshiQ1,jdbcType=INTEGER},
      tanshi_q2 = #{tanshiQ2,jdbcType=INTEGER},
      tanshi_q3 = #{tanshiQ3,jdbcType=INTEGER},
      tanshi_q4 = #{tanshiQ4,jdbcType=INTEGER},
      tanshi_q5 = #{tanshiQ5,jdbcType=INTEGER},
      tanshi_q6 = #{tanshiQ6,jdbcType=INTEGER},
      tanshi_q7 = #{tanshiQ7,jdbcType=INTEGER},
      tanshi_q8 = #{tanshiQ8,jdbcType=INTEGER},
      tanshi_score = #{tanshiScore,jdbcType=INTEGER},
      tanshi_result = #{tanshiResult,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.breeze.health.entity.UserTCMTanshi">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tcm_id" jdbcType="BIGINT" property="tcmId" />
    <result column="tanshi_q1" jdbcType="INTEGER" property="tanshiQ1" />
    <result column="tanshi_q2" jdbcType="INTEGER" property="tanshiQ2" />
    <result column="tanshi_q3" jdbcType="INTEGER" property="tanshiQ3" />
    <result column="tanshi_q4" jdbcType="INTEGER" property="tanshiQ4" />
    <result column="tanshi_q5" jdbcType="INTEGER" property="tanshiQ5" />
    <result column="tanshi_q6" jdbcType="INTEGER" property="tanshiQ6" />
    <result column="tanshi_q7" jdbcType="INTEGER" property="tanshiQ7" />
    <result column="tanshi_q8" jdbcType="INTEGER" property="tanshiQ8" />
    <result column="tanshi_score" jdbcType="INTEGER" property="tanshiScore" />
    <result column="tanshi_result" jdbcType="INTEGER" property="tanshiResult" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, tcm_id, tanshi_q1, tanshi_q2, tanshi_q3, tanshi_q4, tanshi_q5, tanshi_q6, tanshi_q7, 
    tanshi_q8, tanshi_score, tanshi_result, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.breeze.health.entity.UserTCMTanshiExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user_tcm_constitution_tanshi
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_tcm_constitution_tanshi
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user_tcm_constitution_tanshi
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.breeze.health.entity.UserTCMTanshi" useGeneratedKeys="true">
    insert into t_user_tcm_constitution_tanshi (tcm_id, tanshi_q1, tanshi_q2, 
      tanshi_q3, tanshi_q4, tanshi_q5, 
      tanshi_q6, tanshi_q7, tanshi_q8, 
      tanshi_score, tanshi_result, create_time, 
      update_time)
    values (#{tcmId,jdbcType=BIGINT}, #{tanshiQ1,jdbcType=INTEGER}, #{tanshiQ2,jdbcType=INTEGER}, 
      #{tanshiQ3,jdbcType=INTEGER}, #{tanshiQ4,jdbcType=INTEGER}, #{tanshiQ5,jdbcType=INTEGER}, 
      #{tanshiQ6,jdbcType=INTEGER}, #{tanshiQ7,jdbcType=INTEGER}, #{tanshiQ8,jdbcType=INTEGER}, 
      #{tanshiScore,jdbcType=INTEGER}, #{tanshiResult,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.breeze.health.entity.UserTCMTanshi" useGeneratedKeys="true">
    insert into t_user_tcm_constitution_tanshi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tcmId != null">
        tcm_id,
      </if>
      <if test="tanshiQ1 != null">
        tanshi_q1,
      </if>
      <if test="tanshiQ2 != null">
        tanshi_q2,
      </if>
      <if test="tanshiQ3 != null">
        tanshi_q3,
      </if>
      <if test="tanshiQ4 != null">
        tanshi_q4,
      </if>
      <if test="tanshiQ5 != null">
        tanshi_q5,
      </if>
      <if test="tanshiQ6 != null">
        tanshi_q6,
      </if>
      <if test="tanshiQ7 != null">
        tanshi_q7,
      </if>
      <if test="tanshiQ8 != null">
        tanshi_q8,
      </if>
      <if test="tanshiScore != null">
        tanshi_score,
      </if>
      <if test="tanshiResult != null">
        tanshi_result,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tcmId != null">
        #{tcmId,jdbcType=BIGINT},
      </if>
      <if test="tanshiQ1 != null">
        #{tanshiQ1,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ2 != null">
        #{tanshiQ2,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ3 != null">
        #{tanshiQ3,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ4 != null">
        #{tanshiQ4,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ5 != null">
        #{tanshiQ5,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ6 != null">
        #{tanshiQ6,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ7 != null">
        #{tanshiQ7,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ8 != null">
        #{tanshiQ8,jdbcType=INTEGER},
      </if>
      <if test="tanshiScore != null">
        #{tanshiScore,jdbcType=INTEGER},
      </if>
      <if test="tanshiResult != null">
        #{tanshiResult,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.breeze.health.entity.UserTCMTanshiExample" resultType="java.lang.Integer">
    select count(*) from t_user_tcm_constitution_tanshi
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.breeze.health.entity.UserTCMTanshi">
    update t_user_tcm_constitution_tanshi
    <set>
      <if test="tcmId != null">
        tcm_id = #{tcmId,jdbcType=BIGINT},
      </if>
      <if test="tanshiQ1 != null">
        tanshi_q1 = #{tanshiQ1,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ2 != null">
        tanshi_q2 = #{tanshiQ2,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ3 != null">
        tanshi_q3 = #{tanshiQ3,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ4 != null">
        tanshi_q4 = #{tanshiQ4,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ5 != null">
        tanshi_q5 = #{tanshiQ5,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ6 != null">
        tanshi_q6 = #{tanshiQ6,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ7 != null">
        tanshi_q7 = #{tanshiQ7,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ8 != null">
        tanshi_q8 = #{tanshiQ8,jdbcType=INTEGER},
      </if>
      <if test="tanshiScore != null">
        tanshi_score = #{tanshiScore,jdbcType=INTEGER},
      </if>
      <if test="tanshiResult != null">
        tanshi_result = #{tanshiResult,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.breeze.health.entity.UserTCMTanshi">
    update t_user_tcm_constitution_tanshi
    set tcm_id = #{tcmId,jdbcType=BIGINT},
      tanshi_q1 = #{tanshiQ1,jdbcType=INTEGER},
      tanshi_q2 = #{tanshiQ2,jdbcType=INTEGER},
      tanshi_q3 = #{tanshiQ3,jdbcType=INTEGER},
      tanshi_q4 = #{tanshiQ4,jdbcType=INTEGER},
      tanshi_q5 = #{tanshiQ5,jdbcType=INTEGER},
      tanshi_q6 = #{tanshiQ6,jdbcType=INTEGER},
      tanshi_q7 = #{tanshiQ7,jdbcType=INTEGER},
      tanshi_q8 = #{tanshiQ8,jdbcType=INTEGER},
      tanshi_score = #{tanshiScore,jdbcType=INTEGER},
      tanshi_result = #{tanshiResult,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.breeze.health.entity.UserTCMTanshi">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tcm_id" jdbcType="BIGINT" property="tcmId" />
    <result column="tanshi_q1" jdbcType="INTEGER" property="tanshiQ1" />
    <result column="tanshi_q2" jdbcType="INTEGER" property="tanshiQ2" />
    <result column="tanshi_q3" jdbcType="INTEGER" property="tanshiQ3" />
    <result column="tanshi_q4" jdbcType="INTEGER" property="tanshiQ4" />
    <result column="tanshi_q5" jdbcType="INTEGER" property="tanshiQ5" />
    <result column="tanshi_q6" jdbcType="INTEGER" property="tanshiQ6" />
    <result column="tanshi_q7" jdbcType="INTEGER" property="tanshiQ7" />
    <result column="tanshi_q8" jdbcType="INTEGER" property="tanshiQ8" />
    <result column="tanshi_score" jdbcType="INTEGER" property="tanshiScore" />
    <result column="tanshi_result" jdbcType="INTEGER" property="tanshiResult" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, tcm_id, tanshi_q1, tanshi_q2, tanshi_q3, tanshi_q4, tanshi_q5, tanshi_q6, tanshi_q7, 
    tanshi_q8, tanshi_score, tanshi_result, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.breeze.health.entity.UserTCMTanshiExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user_tcm_constitution_tanshi
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_tcm_constitution_tanshi
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user_tcm_constitution_tanshi
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.breeze.health.entity.UserTCMTanshi" useGeneratedKeys="true">
    insert into t_user_tcm_constitution_tanshi (tcm_id, tanshi_q1, tanshi_q2, 
      tanshi_q3, tanshi_q4, tanshi_q5, 
      tanshi_q6, tanshi_q7, tanshi_q8, 
      tanshi_score, tanshi_result, create_time, 
      update_time)
    values (#{tcmId,jdbcType=BIGINT}, #{tanshiQ1,jdbcType=INTEGER}, #{tanshiQ2,jdbcType=INTEGER}, 
      #{tanshiQ3,jdbcType=INTEGER}, #{tanshiQ4,jdbcType=INTEGER}, #{tanshiQ5,jdbcType=INTEGER}, 
      #{tanshiQ6,jdbcType=INTEGER}, #{tanshiQ7,jdbcType=INTEGER}, #{tanshiQ8,jdbcType=INTEGER}, 
      #{tanshiScore,jdbcType=INTEGER}, #{tanshiResult,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.breeze.health.entity.UserTCMTanshi" useGeneratedKeys="true">
    insert into t_user_tcm_constitution_tanshi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tcmId != null">
        tcm_id,
      </if>
      <if test="tanshiQ1 != null">
        tanshi_q1,
      </if>
      <if test="tanshiQ2 != null">
        tanshi_q2,
      </if>
      <if test="tanshiQ3 != null">
        tanshi_q3,
      </if>
      <if test="tanshiQ4 != null">
        tanshi_q4,
      </if>
      <if test="tanshiQ5 != null">
        tanshi_q5,
      </if>
      <if test="tanshiQ6 != null">
        tanshi_q6,
      </if>
      <if test="tanshiQ7 != null">
        tanshi_q7,
      </if>
      <if test="tanshiQ8 != null">
        tanshi_q8,
      </if>
      <if test="tanshiScore != null">
        tanshi_score,
      </if>
      <if test="tanshiResult != null">
        tanshi_result,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tcmId != null">
        #{tcmId,jdbcType=BIGINT},
      </if>
      <if test="tanshiQ1 != null">
        #{tanshiQ1,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ2 != null">
        #{tanshiQ2,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ3 != null">
        #{tanshiQ3,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ4 != null">
        #{tanshiQ4,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ5 != null">
        #{tanshiQ5,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ6 != null">
        #{tanshiQ6,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ7 != null">
        #{tanshiQ7,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ8 != null">
        #{tanshiQ8,jdbcType=INTEGER},
      </if>
      <if test="tanshiScore != null">
        #{tanshiScore,jdbcType=INTEGER},
      </if>
      <if test="tanshiResult != null">
        #{tanshiResult,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.breeze.health.entity.UserTCMTanshiExample" resultType="java.lang.Integer">
    select count(*) from t_user_tcm_constitution_tanshi
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.breeze.health.entity.UserTCMTanshi">
    update t_user_tcm_constitution_tanshi
    <set>
      <if test="tcmId != null">
        tcm_id = #{tcmId,jdbcType=BIGINT},
      </if>
      <if test="tanshiQ1 != null">
        tanshi_q1 = #{tanshiQ1,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ2 != null">
        tanshi_q2 = #{tanshiQ2,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ3 != null">
        tanshi_q3 = #{tanshiQ3,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ4 != null">
        tanshi_q4 = #{tanshiQ4,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ5 != null">
        tanshi_q5 = #{tanshiQ5,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ6 != null">
        tanshi_q6 = #{tanshiQ6,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ7 != null">
        tanshi_q7 = #{tanshiQ7,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ8 != null">
        tanshi_q8 = #{tanshiQ8,jdbcType=INTEGER},
      </if>
      <if test="tanshiScore != null">
        tanshi_score = #{tanshiScore,jdbcType=INTEGER},
      </if>
      <if test="tanshiResult != null">
        tanshi_result = #{tanshiResult,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.breeze.health.entity.UserTCMTanshi">
    update t_user_tcm_constitution_tanshi
    set tcm_id = #{tcmId,jdbcType=BIGINT},
      tanshi_q1 = #{tanshiQ1,jdbcType=INTEGER},
      tanshi_q2 = #{tanshiQ2,jdbcType=INTEGER},
      tanshi_q3 = #{tanshiQ3,jdbcType=INTEGER},
      tanshi_q4 = #{tanshiQ4,jdbcType=INTEGER},
      tanshi_q5 = #{tanshiQ5,jdbcType=INTEGER},
      tanshi_q6 = #{tanshiQ6,jdbcType=INTEGER},
      tanshi_q7 = #{tanshiQ7,jdbcType=INTEGER},
      tanshi_q8 = #{tanshiQ8,jdbcType=INTEGER},
      tanshi_score = #{tanshiScore,jdbcType=INTEGER},
      tanshi_result = #{tanshiResult,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.breeze.health.entity.UserTCMTanshi">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tcm_id" jdbcType="BIGINT" property="tcmId" />
    <result column="tanshi_q1" jdbcType="INTEGER" property="tanshiQ1" />
    <result column="tanshi_q2" jdbcType="INTEGER" property="tanshiQ2" />
    <result column="tanshi_q3" jdbcType="INTEGER" property="tanshiQ3" />
    <result column="tanshi_q4" jdbcType="INTEGER" property="tanshiQ4" />
    <result column="tanshi_q5" jdbcType="INTEGER" property="tanshiQ5" />
    <result column="tanshi_q6" jdbcType="INTEGER" property="tanshiQ6" />
    <result column="tanshi_q7" jdbcType="INTEGER" property="tanshiQ7" />
    <result column="tanshi_q8" jdbcType="INTEGER" property="tanshiQ8" />
    <result column="tanshi_result" jdbcType="INTEGER" property="tanshiResult" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, tcm_id, tanshi_q1, tanshi_q2, tanshi_q3, tanshi_q4, tanshi_q5, tanshi_q6, tanshi_q7, 
    tanshi_q8, tanshi_result, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.breeze.health.entity.UserTCMTanshiExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user_tcm_constitution_tanshi
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_tcm_constitution_tanshi
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user_tcm_constitution_tanshi
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.breeze.health.entity.UserTCMTanshi" useGeneratedKeys="true">
    insert into t_user_tcm_constitution_tanshi (tcm_id, tanshi_q1, tanshi_q2, 
      tanshi_q3, tanshi_q4, tanshi_q5, 
      tanshi_q6, tanshi_q7, tanshi_q8, 
      tanshi_result, create_time, update_time
      )
    values (#{tcmId,jdbcType=BIGINT}, #{tanshiQ1,jdbcType=INTEGER}, #{tanshiQ2,jdbcType=INTEGER}, 
      #{tanshiQ3,jdbcType=INTEGER}, #{tanshiQ4,jdbcType=INTEGER}, #{tanshiQ5,jdbcType=INTEGER}, 
      #{tanshiQ6,jdbcType=INTEGER}, #{tanshiQ7,jdbcType=INTEGER}, #{tanshiQ8,jdbcType=INTEGER}, 
      #{tanshiResult,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.breeze.health.entity.UserTCMTanshi" useGeneratedKeys="true">
    insert into t_user_tcm_constitution_tanshi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tcmId != null">
        tcm_id,
      </if>
      <if test="tanshiQ1 != null">
        tanshi_q1,
      </if>
      <if test="tanshiQ2 != null">
        tanshi_q2,
      </if>
      <if test="tanshiQ3 != null">
        tanshi_q3,
      </if>
      <if test="tanshiQ4 != null">
        tanshi_q4,
      </if>
      <if test="tanshiQ5 != null">
        tanshi_q5,
      </if>
      <if test="tanshiQ6 != null">
        tanshi_q6,
      </if>
      <if test="tanshiQ7 != null">
        tanshi_q7,
      </if>
      <if test="tanshiQ8 != null">
        tanshi_q8,
      </if>
      <if test="tanshiResult != null">
        tanshi_result,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tcmId != null">
        #{tcmId,jdbcType=BIGINT},
      </if>
      <if test="tanshiQ1 != null">
        #{tanshiQ1,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ2 != null">
        #{tanshiQ2,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ3 != null">
        #{tanshiQ3,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ4 != null">
        #{tanshiQ4,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ5 != null">
        #{tanshiQ5,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ6 != null">
        #{tanshiQ6,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ7 != null">
        #{tanshiQ7,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ8 != null">
        #{tanshiQ8,jdbcType=INTEGER},
      </if>
      <if test="tanshiResult != null">
        #{tanshiResult,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.breeze.health.entity.UserTCMTanshiExample" resultType="java.lang.Integer">
    select count(*) from t_user_tcm_constitution_tanshi
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.breeze.health.entity.UserTCMTanshi">
    update t_user_tcm_constitution_tanshi
    <set>
      <if test="tcmId != null">
        tcm_id = #{tcmId,jdbcType=BIGINT},
      </if>
      <if test="tanshiQ1 != null">
        tanshi_q1 = #{tanshiQ1,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ2 != null">
        tanshi_q2 = #{tanshiQ2,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ3 != null">
        tanshi_q3 = #{tanshiQ3,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ4 != null">
        tanshi_q4 = #{tanshiQ4,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ5 != null">
        tanshi_q5 = #{tanshiQ5,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ6 != null">
        tanshi_q6 = #{tanshiQ6,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ7 != null">
        tanshi_q7 = #{tanshiQ7,jdbcType=INTEGER},
      </if>
      <if test="tanshiQ8 != null">
        tanshi_q8 = #{tanshiQ8,jdbcType=INTEGER},
      </if>
      <if test="tanshiResult != null">
        tanshi_result = #{tanshiResult,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.breeze.health.entity.UserTCMTanshi">
    update t_user_tcm_constitution_tanshi
    set tcm_id = #{tcmId,jdbcType=BIGINT},
      tanshi_q1 = #{tanshiQ1,jdbcType=INTEGER},
      tanshi_q2 = #{tanshiQ2,jdbcType=INTEGER},
      tanshi_q3 = #{tanshiQ3,jdbcType=INTEGER},
      tanshi_q4 = #{tanshiQ4,jdbcType=INTEGER},
      tanshi_q5 = #{tanshiQ5,jdbcType=INTEGER},
      tanshi_q6 = #{tanshiQ6,jdbcType=INTEGER},
      tanshi_q7 = #{tanshiQ7,jdbcType=INTEGER},
      tanshi_q8 = #{tanshiQ8,jdbcType=INTEGER},
      tanshi_result = #{tanshiResult,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.breeze.health.entity.UserTCMTanshi">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tcm_id" jdbcType="BIGINT" property="tcmId" />
    <result column="q1" jdbcType="INTEGER" property="q1" />
    <result column="q2" jdbcType="INTEGER" property="q2" />
    <result column="q3" jdbcType="INTEGER" property="q3" />
    <result column="q4" jdbcType="INTEGER" property="q4" />
    <result column="q5" jdbcType="INTEGER" property="q5" />
    <result column="q6" jdbcType="INTEGER" property="q6" />
    <result column="q7" jdbcType="INTEGER" property="q7" />
    <result column="q8" jdbcType="INTEGER" property="q8" />
    <result column="result" jdbcType="INTEGER" property="result" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, tcm_id, q1, q2, q3, q4, q5, q6, q7, q8, result, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.breeze.health.entity.UserTCMTanshiExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user_tcm_constitution_tanshi
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_tcm_constitution_tanshi
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user_tcm_constitution_tanshi
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.breeze.health.entity.UserTCMTanshi" useGeneratedKeys="true">
    insert into t_user_tcm_constitution_tanshi (tcm_id, q1, q2, 
      q3, q4, q5, q6, 
      q7, q8, result, create_time, 
      update_time)
    values (#{tcmId,jdbcType=BIGINT}, #{q1,jdbcType=INTEGER}, #{q2,jdbcType=INTEGER}, 
      #{q3,jdbcType=INTEGER}, #{q4,jdbcType=INTEGER}, #{q5,jdbcType=INTEGER}, #{q6,jdbcType=INTEGER}, 
      #{q7,jdbcType=INTEGER}, #{q8,jdbcType=INTEGER}, #{result,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.breeze.health.entity.UserTCMTanshi" useGeneratedKeys="true">
    insert into t_user_tcm_constitution_tanshi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tcmId != null">
        tcm_id,
      </if>
      <if test="q1 != null">
        q1,
      </if>
      <if test="q2 != null">
        q2,
      </if>
      <if test="q3 != null">
        q3,
      </if>
      <if test="q4 != null">
        q4,
      </if>
      <if test="q5 != null">
        q5,
      </if>
      <if test="q6 != null">
        q6,
      </if>
      <if test="q7 != null">
        q7,
      </if>
      <if test="q8 != null">
        q8,
      </if>
      <if test="result != null">
        result,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tcmId != null">
        #{tcmId,jdbcType=BIGINT},
      </if>
      <if test="q1 != null">
        #{q1,jdbcType=INTEGER},
      </if>
      <if test="q2 != null">
        #{q2,jdbcType=INTEGER},
      </if>
      <if test="q3 != null">
        #{q3,jdbcType=INTEGER},
      </if>
      <if test="q4 != null">
        #{q4,jdbcType=INTEGER},
      </if>
      <if test="q5 != null">
        #{q5,jdbcType=INTEGER},
      </if>
      <if test="q6 != null">
        #{q6,jdbcType=INTEGER},
      </if>
      <if test="q7 != null">
        #{q7,jdbcType=INTEGER},
      </if>
      <if test="q8 != null">
        #{q8,jdbcType=INTEGER},
      </if>
      <if test="result != null">
        #{result,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.breeze.health.entity.UserTCMTanshiExample" resultType="java.lang.Integer">
    select count(*) from t_user_tcm_constitution_tanshi
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.breeze.health.entity.UserTCMTanshi">
    update t_user_tcm_constitution_tanshi
    <set>
      <if test="tcmId != null">
        tcm_id = #{tcmId,jdbcType=BIGINT},
      </if>
      <if test="q1 != null">
        q1 = #{q1,jdbcType=INTEGER},
      </if>
      <if test="q2 != null">
        q2 = #{q2,jdbcType=INTEGER},
      </if>
      <if test="q3 != null">
        q3 = #{q3,jdbcType=INTEGER},
      </if>
      <if test="q4 != null">
        q4 = #{q4,jdbcType=INTEGER},
      </if>
      <if test="q5 != null">
        q5 = #{q5,jdbcType=INTEGER},
      </if>
      <if test="q6 != null">
        q6 = #{q6,jdbcType=INTEGER},
      </if>
      <if test="q7 != null">
        q7 = #{q7,jdbcType=INTEGER},
      </if>
      <if test="q8 != null">
        q8 = #{q8,jdbcType=INTEGER},
      </if>
      <if test="result != null">
        result = #{result,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.breeze.health.entity.UserTCMTanshi">
    update t_user_tcm_constitution_tanshi
    set tcm_id = #{tcmId,jdbcType=BIGINT},
      q1 = #{q1,jdbcType=INTEGER},
      q2 = #{q2,jdbcType=INTEGER},
      q3 = #{q3,jdbcType=INTEGER},
      q4 = #{q4,jdbcType=INTEGER},
      q5 = #{q5,jdbcType=INTEGER},
      q6 = #{q6,jdbcType=INTEGER},
      q7 = #{q7,jdbcType=INTEGER},
      q8 = #{q8,jdbcType=INTEGER},
      result = #{result,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>