<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.breeze.health.mapper.UserPsychologicalAD8Mapper" >
  <resultMap id="BaseResultMap" type="com.breeze.health.entity.UserPsychologicalAD8" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="psy_id" property="psyId" jdbcType="BIGINT" />
    <result column="ad8_q1" property="ad8Q1" jdbcType="INTEGER" />
    <result column="ad8_q2" property="ad8Q2" jdbcType="INTEGER" />
    <result column="ad8_q3" property="ad8Q3" jdbcType="INTEGER" />
    <result column="ad8_q4" property="ad8Q4" jdbcType="INTEGER" />
    <result column="ad8_q5" property="ad8Q5" jdbcType="INTEGER" />
    <result column="ad8_q6" property="ad8Q6" jdbcType="INTEGER" />
    <result column="ad8_q7" property="ad8Q7" jdbcType="INTEGER" />
    <result column="ad8_q8" property="ad8Q8" jdbcType="INTEGER" />
    <result column="ad8_score" property="ad8Score" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, psy_id, ad8_q1, ad8_q2, ad8_q3, ad8_q4, ad8_q5, ad8_q6, ad8_q7, ad8_q8, ad8_score, 
    create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.breeze.health.entity.UserPsychologicalAD8Example" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user_psychological_ad8
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_user_psychological_ad8
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_user_psychological_ad8
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.breeze.health.entity.UserPsychologicalAD8" useGeneratedKeys="true" keyProperty="id" >
    insert into t_user_psychological_ad8 (psy_id, ad8_q1, ad8_q2, 
      ad8_q3, ad8_q4, ad8_q5, 
      ad8_q6, ad8_q7, ad8_q8, 
      ad8_score, create_time, update_time
      )
    values (#{psyId,jdbcType=BIGINT}, #{ad8Q1,jdbcType=INTEGER}, #{ad8Q2,jdbcType=INTEGER}, 
      #{ad8Q3,jdbcType=INTEGER}, #{ad8Q4,jdbcType=INTEGER}, #{ad8Q5,jdbcType=INTEGER}, 
      #{ad8Q6,jdbcType=INTEGER}, #{ad8Q7,jdbcType=INTEGER}, #{ad8Q8,jdbcType=INTEGER}, 
      #{ad8Score,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.breeze.health.entity.UserPsychologicalAD8" useGeneratedKeys="true" keyProperty="id" >
    insert into t_user_psychological_ad8
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="psyId != null" >
        psy_id,
      </if>
      <if test="ad8Q1 != null" >
        ad8_q1,
      </if>
      <if test="ad8Q2 != null" >
        ad8_q2,
      </if>
      <if test="ad8Q3 != null" >
        ad8_q3,
      </if>
      <if test="ad8Q4 != null" >
        ad8_q4,
      </if>
      <if test="ad8Q5 != null" >
        ad8_q5,
      </if>
      <if test="ad8Q6 != null" >
        ad8_q6,
      </if>
      <if test="ad8Q7 != null" >
        ad8_q7,
      </if>
      <if test="ad8Q8 != null" >
        ad8_q8,
      </if>
      <if test="ad8Score != null" >
        ad8_score,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="psyId != null" >
        #{psyId,jdbcType=BIGINT},
      </if>
      <if test="ad8Q1 != null" >
        #{ad8Q1,jdbcType=INTEGER},
      </if>
      <if test="ad8Q2 != null" >
        #{ad8Q2,jdbcType=INTEGER},
      </if>
      <if test="ad8Q3 != null" >
        #{ad8Q3,jdbcType=INTEGER},
      </if>
      <if test="ad8Q4 != null" >
        #{ad8Q4,jdbcType=INTEGER},
      </if>
      <if test="ad8Q5 != null" >
        #{ad8Q5,jdbcType=INTEGER},
      </if>
      <if test="ad8Q6 != null" >
        #{ad8Q6,jdbcType=INTEGER},
      </if>
      <if test="ad8Q7 != null" >
        #{ad8Q7,jdbcType=INTEGER},
      </if>
      <if test="ad8Q8 != null" >
        #{ad8Q8,jdbcType=INTEGER},
      </if>
      <if test="ad8Score != null" >
        #{ad8Score,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.breeze.health.entity.UserPsychologicalAD8Example" resultType="java.lang.Integer" >
    select count(*) from t_user_psychological_ad8
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.breeze.health.entity.UserPsychologicalAD8" >
    update t_user_psychological_ad8
    <set >
      <if test="psyId != null" >
        psy_id = #{psyId,jdbcType=BIGINT},
      </if>
      <if test="ad8Q1 != null" >
        ad8_q1 = #{ad8Q1,jdbcType=INTEGER},
      </if>
      <if test="ad8Q2 != null" >
        ad8_q2 = #{ad8Q2,jdbcType=INTEGER},
      </if>
      <if test="ad8Q3 != null" >
        ad8_q3 = #{ad8Q3,jdbcType=INTEGER},
      </if>
      <if test="ad8Q4 != null" >
        ad8_q4 = #{ad8Q4,jdbcType=INTEGER},
      </if>
      <if test="ad8Q5 != null" >
        ad8_q5 = #{ad8Q5,jdbcType=INTEGER},
      </if>
      <if test="ad8Q6 != null" >
        ad8_q6 = #{ad8Q6,jdbcType=INTEGER},
      </if>
      <if test="ad8Q7 != null" >
        ad8_q7 = #{ad8Q7,jdbcType=INTEGER},
      </if>
      <if test="ad8Q8 != null" >
        ad8_q8 = #{ad8Q8,jdbcType=INTEGER},
      </if>
      <if test="ad8Score != null" >
        ad8_score = #{ad8Score,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.breeze.health.entity.UserPsychologicalAD8" >
    update t_user_psychological_ad8
    set psy_id = #{psyId,jdbcType=BIGINT},
      ad8_q1 = #{ad8Q1,jdbcType=INTEGER},
      ad8_q2 = #{ad8Q2,jdbcType=INTEGER},
      ad8_q3 = #{ad8Q3,jdbcType=INTEGER},
      ad8_q4 = #{ad8Q4,jdbcType=INTEGER},
      ad8_q5 = #{ad8Q5,jdbcType=INTEGER},
      ad8_q6 = #{ad8Q6,jdbcType=INTEGER},
      ad8_q7 = #{ad8Q7,jdbcType=INTEGER},
      ad8_q8 = #{ad8Q8,jdbcType=INTEGER},
      ad8_score = #{ad8Score,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>