<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<title>健康档案</title>
	<!-- 引入 WeUI -->
	<link rel="stylesheet" href="./css/weui.css"/>
	<link rel="stylesheet" href="./css/style.css"/>
	<script src="./js/zepto.min.js"></script>
	<!-- <script src="./js/jweixin-1.0.0.js"></script> -->
	<script src="./js/weui.js"></script>
	<script src="./js/questionnaire.js"></script>
</head>
<body ontouchstart>
	<div class="archives_page">
		<div class="archives_page_cont">
			<h4>居民健康档案</h4>
			<h1>统计表</h1>
			<p>请务必如实填写</p>
			<a class="weui-btn btn-primary btn-round" href="">开始统计</a>
		</div>
	</div>
</body>
</html>
